.find_pw2_container {
    width: 1200px;
}

body {
    font-family: Pretendard;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.find_id2_line {
    width: 580px;
    height: 1.5px;
    background-color: black;
    margin-left: 320px;
    margin-top: 25px;
}

.find_pw2_box{
    width: 580px;
    margin-left: 320px;
    margin-top: 25px;
}

.find_pw2_txt {
    margin-left: 90px;
    font-size: 18px;
}

.find_pw2_input {
    margin-left: 90px;
    width: 400px;
    height: 40px;
    border: solid 1px black;
}


.view_box {
    width: 600px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.find_pw2_btn {
    width: 400px;
    height: 40px;
    margin-left: 110px;
    border: none;
    border-radius: 10px;
}

