.join_container {
    width: 1200px;
}

body {
    font-family: Pretendard;
}

.join_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}

.join_name {
    font-size: 14px;
    color: #bcbcbc;
    margin-left: 25%;
}

.join_success {
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 0.375rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 25%;
}

.join_container input {
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    margin-left: 25%;
    display: flex;
}

#userId {
    width: 520px;
}

.input_border {
    border-width: 0 0 1px;
}

.join_id_check {
    height: 44.8px;
    width: 80px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #6C757D;
    border-radius: 0.375rem;
    border: none;
}

.join_name_box {
    margin-left: 100px;
    width: 812px;
    display: flex;
}

.pwValidation {
    margin-left: 25%;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    color: #222;
    font-size: 13px;
}

.userPwCheck_box {
    width: 600px;
    margin-left: 25%;
    display: flex;
}

.userPwCheck_box input {
    border-width: 0 0 1px;
    height: 40px;
    margin: auto;
}

.pwCheckResult {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}