.join_container {
    width: 1200px;
}
body{
    font-family: Pretendard;
}
.join_title {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}

.join_name {
    font-size: 15px;
    color: #bcbcbc;
    margin-left: 25%;
}

.join_success {
    width: 600px;
    font-size: 20px;
    background-color: #e2e3e5;
    font-weight: bold;
    margin-left: 25%;
    border:none;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    margin-left: 25%;
    display: flex;
}

.input_border {
    border-width: 0 0 1px;
}

.join_id_check {
    height: 44.8px;
    font-size: 12px;
    width: 60px;
    border-radius: 15px;
    background-color: white;
    border-width: 1px 1px 1px 1px;
}

.join_name_box{
    margin-left: 100px;
    width: 812px;
    display: flex;

}

.pwValidation {
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #bcbcbc;
}
