.login_container {
    width: 1200px;
}

body{
    font-family: Pretendard;
}

.login_logo {
    width: 240px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
}

.login_name {
    font-size: 15px;
    color: #bcbcbc;
    margin-left: 25%;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    margin-left: 25%;
}

.input_border {
    border-width: 0 0 1px;
}

.login_btn {
    background-color: #e2e3e5;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 25%;
    text-align: center;
    font-size: 20px;
    border:none;
}

.find_div {
    margin-top: 20px;
}

span {
    width: 200px;
}

a {
    width: 133px;
    text-align: center;
    font-size: 20px;
    border:none;

}

.join_view{
    margin-left: 382px;
    text-align: center;
}

.idfind_view{
    margin-left: 100px;
    text-align: center;
}
.pwfind_view{
    margin-left: 100px;
    text-align: center;
}

.kakaologin_btn {
    background-color: #fffa3b;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 25%;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
    border:none;
}
