<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>자주 묻는 질문 - 등록</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/my/admin.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/user/admin.css}">-->


    <th:block layout:fragment="css">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>

            let attachedFileList = [];

            $(document).ready(function() {

                $('.view_box').on( 'keyup', 'textarea', function (e){

                    for (let i=0; i<$('.view_box').length-1; i++) {
                        let viewboxHeight = 30;
                        let id = $('.view_box')[i].getAttribute('id');

                        // console.log("id = " + id);

                        if (id == "content_box") {
                            viewboxHeight = viewboxHeight * 12;
                        }

                        if($("#" + id + " > .text_area")[0].scrollHeight > viewboxHeight) {
                            $("#" + id).height( $("#" + id + " > .text_area")[0].scrollHeight );
                        } else {
                            $("#" + id).height( viewboxHeight );
                        }
                    }
                });

                $('.view_box').find( 'textarea' ).keyup();
            });



            function updateFiles() {
                // 파일 선택 input 요소
                const fileInput = document.getElementById('uploadFiles');
                const newFiles = fileInput.files;
                attachedFileList = Array.from(attachedFileList).concat(Array.from(fileInput.files));

                console.log('1')
                let fileDataTransfer = new DataTransfer();
                attachedFileList.forEach(file => fileDataTransfer.items.add(file));

                console.log('2')
                fileInput.files = fileDataTransfer.files;

                console.log('3')

                console.log('===============================');

                for(const file of attachedFileList) {
                    console.log(file.name);
                }

                console.log('----------------------');
                for(const file of fileInput.files) {
                    console.log(file.name);
                }

                // 파일 이름을 출력할 요소
                const fileNamesContainer = document.getElementById('fileNames');

                // 기존에 출력된 파일 이름들을 지우기
                fileNamesContainer.innerHTML = '';


                // 선택된 파일들의 이름을 출력
                /*for (const file of fileInput.files) {
                    const fileNameParagraph = document.createElement('p');
                    fileNameParagraph.textContent = file.name;
                    fileNameParagraph.setAttribute("style", "font-size: 16px; line-height: 29px; cursor: pointer; display: inline-flex; margin-left: 5px; margin-right: 45px; text-decoration-thick: auto; text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;");
                    fileNamesContainer.appendChild(fileNameParagraph);
                }*/

                console.log('1');
/*

                fileNamesPrint(fileInput, fileNamesContainer);
*/

                // for (const file of fileInput.files) {
                for (let i = 0; i < fileInput.files.length; i++) {
                    const file = fileInput.files[i];
                    console.log('3');

                    // span 태그 생성
                    // let addEle = document.createElement("div");

                    //파일 이름이 출력될 p태그 생성
                    const fileNameParagraph = document.createElement('p');
                    // fileNameParagraph.textContent = file.name;
                    fileNameParagraph.setAttribute("style", "font-size: 16px; line-height: 29px; cursor: pointer; " +
                        "display: inline-flex; margin-left: 5px; margin-right: 45px; text-decoration-thick: auto; " +
                        "text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;");

                    console.log('4');

                    let aTag = document.createElement("a");
                    aTag.textContent = file.name;
                    aTag.setAttribute("href", "");


                    let deleteBtnBox = document.createElement("span");
                    deleteBtnBox.setAttribute("style", "color: #bcbcbc; padding-left: 4px;")

                    let deleteBtn = document.createElement("botton");
                    // deleteBtn.setAttribute("className", "bi bi-x-square");
                    deleteBtn.setAttribute("data-delete-filename", file.name);
                    // deleteBtn.setAttribute("className", "deleteBtn bi bi-file-earmark-arrow-down-fill");
                    deleteBtn.className = "deleteBtn bi bi-x-square";   //bi bi-x-square  //bi bi-x-square-fill
                    deleteBtn.setAttribute("style", "style", "width: 16px; height: 16px; position: absolute; right: 0;" +
                        " bottom: 0; z-index: 999; ");  //rgb(203, 213, 224)
                    // deleteBtn.id = 'deleteBtn' + i;



                    console.log('5');

                    deleteBtn.onclick = (e) => {

                        const deleteFileName = e.target.getAttribute("data-delete-filename");

                        console.log('6');

                        for(let i = 0; i < attachedFileList.length; i++) {
                            if(deleteFileName === attachedFileList[i].name) {
                                attachedFileList.splice(i, 1);
                            }
                        }

                        console.log('7');

                        // input에 첨부된 파일 삭제
                        let inputDataTransfer = new DataTransfer();

                        for(i in attachedFileList) {
                            inputDataTransfer.items.add(attachedFileList[i]);
                        }

                        fileInput.files = inputDataTransfer.files;

                        // 클릭된 버튼의 파일 삭제
                        const parentTag = e.target.parentNode.parentNode;
                        parentTag.remove();
                    }


                    /*addEle.appendChild(fileNameParagraph);
                    addEle.appendChild(deleteBtn);*/
                    fileNameParagraph.appendChild(aTag);
                    // deleteBtn.appendChild(iTag);
                    deleteBtnBox.appendChild(deleteBtn);
                    // fileNameParagraph.appendChild(deleteBtn);
                    fileNameParagraph.appendChild(deleteBtnBox);
                    fileNamesContainer.appendChild(fileNameParagraph);
                }

                $("#file_box").height( $("#fileNames").height());

            }

            function focusChild() {
                document.getElementsByName('content')[0].focus();
            }

// 파일명 출력 및 다운로드 까지 완성
/*
            function updateFiles() {
                // 파일 선택 input 요소
                const fileInput = document.getElementById('uploadFiles');
                const newFiles = fileInput.files;
                attachedFileList = Array.from(attachedFileList).concat(Array.from(fileInput.files));

                console.log('1')
                let fileDataTransfer = new DataTransfer();
                attachedFileList.forEach(file => fileDataTransfer.items.add(file));

                console.log('2')
                fileInput.files = fileDataTransfer.files;

                console.log('3')

                console.log('===============================');

                for(const file of attachedFileList) {
                    console.log(file.name);
                }

                console.log('----------------------');
                for(const file of fileInput.files) {
                    console.log(file.name);
                }

                // 파일 이름을 출력할 요소
                const fileNamesContainer = document.getElementById('fileNames');

                // 기존에 출력된 파일 이름들을 지우기
                fileNamesContainer.innerHTML = '';


                // 선택된 파일들의 이름을 출력
                for (const file of fileInput.files) {
                    const fileNameParagraph = document.createElement('p');
                    fileNameParagraph.textContent = file.name;
                    fileNameParagraph.setAttribute("style", "font-size: 16px; line-height: 29px; cursor: pointer; display: inline-flex; margin-left: 5px; margin-right: 45px; text-decoration-thick: auto; text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;")
                    fileNamesContainer.appendChild(fileNameParagraph);
                }

                $("#file_box").height( $("#fileNames").height());

            }*/



            /*
                        $(document).ready(function() {

                            $('.view_box').on( 'keyup', 'textarea', function (e){
                                let basicHeight = 30;

                                if($("#title_box > .text_area")[0].scrollHeight > basicHeight) {
                                    // $("#title_box").css('height', 'auto' );
                                    $("#title_box").height( $("#title_box > .text_area")[0].scrollHeight );
                                } else {
                                    $("#title_box").height( basicHeight );
                                }

                                if($("#content_box > .text_area")[0].scrollHeight > basicHeight*10) {
                                    // $("#content_box").css('height', 'auto' );
                                    $("#content_box").height( $("#content_box > .text_area")[0].scrollHeight );
                                } else {
                                    $("#content_box").height(basicHeight * 10);
                                }

                                if($("#file_box > .text_area")[0].scrollHeight > basicHeight) {
                                    // $("#file_box").css('height', 'auto' );
                                    $("#file_box").height( $("#file_box > .text_area")[0].scrollHeight );
                                } else {
                                    $("#file_box").height( basicHeight );
                                }

                            });
                            $('.view_box').find( 'textarea' ).keyup();
                        });
            */

        </script>
    </th:block>
</head>
<body>
<div class="content_area" layout:fragment="content" >
    <div class="title_area">
        <div class="title">
            <strong>자주 묻는 질문 - 등록</strong>
        </div>
    </div>
    <div id="faq_add_container">
        <div class="detailView_area">
            <form id="detailViewForm" th:action method="post" enctype="multipart/form-data">
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">카테고리</label>
                            </strong>
                        </div>
                        <select name="category" id="category" style="width: 180px; height: 42px; font-size: 18px;">

                                <option value="null" hidden
                                        th:selected="${category == 'null'}"></option>
                                <option value="이용정책" style="font-size: 16px;"
                                        th:selected="${category == '이용정책'}">이용정책</option>
                                <option value="공통" style="font-size: 16px;"
                                        th:selected="${category == '공통'}">공통</option>
                                <option value="구매" style="font-size: 16px;"
                                        th:selected="${category == '구매'}">구매</option>
                                <option value="판매" style="font-size: 16px;"
                                        th:selected="${category == '판매'}">판매</option>
                        </select>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">제목</label>
                            </strong>
                        </div>
                        <div class="view_box" id="title_box">
                            <textarea class="text_area" name="title"></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">내용</label>
                            </strong>
                        </div>
                        <div class="view_box" id="content_box" onclick="focusChild()">
                            <textarea class="text_area" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">첨부파일</label>
                            </strong>
                        </div>

                        <!---------------------------------------------------------------------------->

                        <!--<div class="view_box" id="file_box" style="padding: 7px; height: 48px; display: flex; box-sizing: border-box;">
&lt;!&ndash;                            <div style="font-size: 16px; position: relative; overflow: hidden; display: inline-block; vertical-align: middle;">&ndash;&gt;
                            <div style="font-size: 16px; position: absolute; vertical-align: middle;">
                                <label for="uploadFiles" style="width: 80px; height: 30px; text-align: center; vertical-align: middle; border: 1px solid #cbd5e0; border-radius: 5px; background-color: aliceblue;">파일 선택</label>
                                <span id="fileNames">
                                    &lt;!&ndash;<p th:each="file : ${faqDTO.faqAttachedFileDTOList}" style="font-size: 16px; line-height: 29px; cursor: pointer; display: inline-flex; margin-right: 40px; text-decoration-thick: auto; text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;">
                                        <i class="bi bi-file-earmark-arrow-down-fill" style="color: #999999; margin-right: 3px;"></i>
                                            &lt;!&ndash;<i class="bi bi-file-earmark-arrow-down" style="color: #999999; margin-right: 3px;"></i>&ndash;&gt;
                                            &lt;!&ndash;<i class="bi bi-download" style="color: #999999; margin-right: 3px;"></i>&ndash;&gt;
                                        <a th:text="${file.fileName}"
                                           th:href="@{/file_download/{faqId}-{fileId}(faqId=${faqDTO.faqId}, fileId=${file.fileId})}"></a>
                                    </p>&ndash;&gt;
                                </span>
&lt;!&ndash;                                <input autocomplete="off" type="file" name="uploadFiles" id="uploadFiles" multiple data-placeholder="none">&ndash;&gt;
                                <input style="position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;" onchange="updateFiles()" aria- autocomplete="off" type="file" name="uploadFiles" id="uploadFiles" multiple placeholder="none">
                            </div>
                            &lt;!&ndash;<div style="width: 100%">
                                <textarea class="text_area" name="attachedFile" id="attachedFile"></textarea>
                            </div>&ndash;&gt;
                        </div>-->

                        <!---------------------------------------------------------------------------->

                        <div class="view_box" id="file_box" style="vertical-align: middle; padding: 7px; height: 48px; min-height: 48px; display: flex; box-sizing: border-box;">
                            <!--<span>
                                <label for="uploadFiles" style="line-height: 24px; font-size: 16px; width: 80px; height: 29px; text-align: center; vertical-align: middle; border: 2px solid #cbd5e0; border-radius: 5px; background-color: aliceblue;">파일 선택</label>
                            </span>-->
                            <span>

                                <label for="uploadFiles" style="line-height: 24px; font-size: 16px; width: 80px; height: 29px; text-align: center; vertical-align: middle; border: 2px solid #cbd5e0; border-radius: 5px; background-color: #dedede;">파일 선택</label>  <!--background-color: aliceblue;-->

                                <input onchange="updateFiles()" style="display: none; opacity: 0; cursor: pointer;" aria- autocomplete="off" type="file" name="uploadFiles" id="uploadFiles" multiple placeholder="none">

                            </span>
                            <div style="margin: 0 10px 0 10px; padding-left: 15px; border-left: 2px solid #dedede;">
                                <div id="fileNames" style="font-size: 16px; vertical-align: middle;">
                                </div>
                            </div>
                        </div>

                        <!---------------------------------------------------------------------------->

                        <!--<div class="view_box" id="file_box" style="padding: 7px; height: 48px; display: flex; box-sizing: border-box;">
                            <div style="font-size: 16px; position: absolute; vertical-align: middle;">
                                <input autocomplete="off" type="file" name="uploadFiles" id="uploadFiles" multiple data-placeholder="none">
                            </div>

                        </div>-->

                        <!---------------------------------------------------------------------------->

                    </div>
                </div>
                <div class="button_area">
                    <button type="submit" id="saveBtn" class="textTypeBtn">저장</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>