<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <title>자주 묻는 질문 - 상세조회</title>
    <th:block layout:fragment="css">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>
    <th:block layout:fragment="script" th:with="requestUrl = ${requestUrl}, status = ${status}">
        <script>

            $(() => {
                console.log($(".text_area")[0].scrollHeight);
                console.log($("#title_box").css('height'));


                for (let i = 0; i < $('.view_box').length; i++) {
                    let viewboxHeight = 30;
                    let id = $('.view_box')[i].getAttribute('id');

                    console.log("id = " + id);

                    if (id == "content_box") {
                        viewboxHeight = viewboxHeight * 12;
                    }

                    if ($("#" + id + " > .text_area")[0].scrollHeight > viewboxHeight) {
                        $("#" + id).height($("#" + id + " > .text_area")[0].scrollHeight);
                    } else {
                        $("#" + id).height(viewboxHeight);
                    }
                }
            });

            function redirectToModificationPage() {
                window.location.href = '/faq_modification';
            }

            function redirectToDeletePage() {
                window.location.href = '/faq_delete/faq-{faqId}';
            }

        </script>
    </th:block>
</head>
<body>
<div class="content_area" layout:fragment="content">
    <h1 class="page-title light-border-bottom">자주 묻는 질문 - 상세조회</h1>
    <div id="faq_detail_container">
        <div class="detailView_area">
            <form id="detailViewForm" action="" method="post">
                <div id="category-parent">
                    <div id="category" name="category" th:text="${faqDTO.category}">카테고리명</div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">제목</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="title_box">
                            <textarea class="text_area" th:text="${faqDTO.title}" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">내용</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="content_box">
                            <textarea class="text_area" th:text="${faqDTO.content}" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">첨부파일</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="file_box" style="min-height: 48px;">
                            <!--                            <textarea class="text_area" readonly>-->
                            <p th:each="file : ${faqDTO.faqAttachedFileDTOList}"
                               style="font-size: 16px; line-height: 29px; cursor: pointer; display: inline-flex; margin-right: 40px; text-decoration-thick: auto; text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;">
                                <i class="bi bi-file-earmark-arrow-down-fill"
                                   style="color: #999999; margin-right: 3px;"></i>
                                <a th:text="${file.fileName}"
                                   th:href="@{/file_download(fileName=${file.fileName}, filePath=${file.filePath})}"></a>
                            </p>
                        </div>
                    </div>
                </div>
                    <div class="button_area" th:with="faqId=${faqDTO.faqId}">
<!--                        <button th:hidden="${requestUrl.contains('/admin/inquiry-management/')}" th:onclick="'window.location.href = \'/faq_main\''" type="button" id="toFaqListBtn" class="textTypeBtn">목록</button>-->
                        <button th:onclick="'window.location.href = \'/admin/faq_modification/faq-' + ${faqId} + '\''" type="button" id="modificationBtn" class="textTypeBtn btn-green">수정</button>
                        <button th:onclick="'window.location.href = \'/admin/inquiry-management/faq_delete/faq-' + ${faqId} + '\''" type="button" id="deleteBtn" class="textTypeBtn btn-red">삭제</button>
<!--                        <button th:hidden="${!requestUrl.contains('/admin/inquiry-management/')}" th:onclick="'window.location.href = \'/faq_delete/faq-' + ${faqId} + '\''" type="button" id="deleteBtn" class="textTypeBtn">삭제</button>-->
<!--                        <button th:hidden="${!requestUrl.contains('/admin/inquiry-management/')}" onclick="deleteFaq()" type="button" id="deleteBtn" class="textTypeBtn">삭제</button>-->
                        <button th:onclick="'window.location.href = \'/admin/inquiry-management_main\''" type="button" id="toInquiryListBtn" class="textTypeBtn btn-black">목록</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>