<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <title>회원 상세정보</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>

</head>
<body>
<div class="content_area" layout:fragment="content" >
    <div id="memberInfo_container">
    <div class="data_area">
        <div class="title_area">
            <div class="title">
                <strong>회원 상세정보</strong>
            </div>
            <div style="position: relative;">
                <button id="closeBtn" th:onclick="'window.location.href = \'/admin/memberManagement\''">
                    <i class="bi bi-x d-flex align-items-center justify-content-center"></i>
                </button>
            </div>
        </div>

        <!----------------------------------------------------------------------------------------------------------------------------->

        <div id="memberInfo_area">
            <div style="display: flex;">

                <div class="memberInfo_item" id="joinInfo">
                    <div class="item_label_area">
                        <div class="label_icon d-flex align-items-center justify-content-center">
                            <i class="bi bi-record-fill"></i>
                        </div>
                        <strong>
                            <label class="item_label">가입 정보</label>
                        </strong>
                    </div>
                    <table>
                        <tr>
                            <th class="joinInfo_key" scope="row">회원번호</th>
                            <td class="joinInfo_value" th:text="${member.id}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">아이디</th>
                            <td class="joinInfo_value" th:text="${member.userId}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">이름</th>
                            <td class="joinInfo_value" th:text="${member.userName}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">생년월일</th>
                            <td class="joinInfo_value" th:text="${member.userBirth}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">연락처</th>
                            <td class="joinInfo_value" th:text="${member.userTel}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">이메일</th>
                            <td class="joinInfo_value" th:text="${member.userEmail}"></td>
                        </tr>
                        <tr>
                            <th class="joinInfo_key" scope="row">주소</th>
                            <td class="joinInfo_value" th:text="${member.userAddress}"></td>
                        </tr>
                    </table>
                </div>

                <!----------------------------------------------------------------------------------------------------------------------------->

                <div class="memberInfo_item" id="inquiryHistory">
                    <div class="item_label_area">
                        <div class="label_icon d-flex align-items-center justify-content-center">
                            <i class="bi bi-record-fill"></i>
                        </div>
                        <strong>
                            <label class="item_label">문의 내역</label>
                        </strong>
                    </div>
                    <table>
                        <tr>
                            <th class="colName">등록일</th>
                            <th class="colName">제목</th>
                        </tr>
                            <tr th:each="inquiry : ${inquiryList}">
                                <td class="cell" style="text-align: center;" th:text="${#strings.substring(inquiry.inquiryRegdate, 0, 10)}"></td>
                                <td class="cell memberInfo_inquiryTitle">
                                    <a th:href="@{/inquiry/inquiry/{inquiryNo} (inquiryNo=${inquiry.inquiryNo})}" th:text="${inquiry.inquiryTitle}"></a>
                                </td>
                            </tr>
                    </table>

                </div>
            </div>

            <div class="memberInfo_item" id="purchaseHistory">
                <div class="item_label_area">
                    <div class="label_icon d-flex align-items-center justify-content-center">
                        <i class="bi bi-record-fill"></i>
                    </div>
                    <strong>
                        <label class="item_label">경매 입찰 이력</label>
                    </strong>
                </div>
                <table>
                    <tr>
                        <th class="colName">경매아이디</th>
                        <th class="colName">입찰아이디</th>
                        <th class="colName">입찰가격</th>
                        <th class="colName">입찰시간</th>
                        <th class="colName">결제방법</th>
                    </tr>
                    <tr th:each="bidding : ${biddingList}" style="text-align: center;">
                        <td class="cell" th:text="${bidding.auctionId}"></td>
                        <td class="cell" th:text="${bidding.biddingId}"></td>
                        <td class="cell" th:text="${bidding.biddingPrice}"></td>
                        <td class="cell" th:text="${#strings.substring(bidding.date, 0, 19).replace('T', ' ')}"></td>
                        <th:block th:switch="${bidding.payment}">
                            <td class="cell" th:case="1">무통장결제</td>
                            <td class="cell" th:case="2">카드</td>
                            <td class="cell" th:case="3">네이버페이</td>
                            <td class="cell" th:case="4">카카오페이</td>
                        </th:block>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>