<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <title>통계 데이터</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(() => {
                const monthList = [[${monthList}]];
                const totalPriceList = [[${totalPriceList}]];
                const biddingCountList = [[${biddingCountList}]];
                const auctionCountList = [[${auctionCountList}]];
                console.log(monthList);

                const barCtx = document.getElementById('barChart');
                const lineCtx = document.getElementById('lineChart');

                new Chart(barCtx, {
                    type: 'bar',
                    data: {
                        labels: monthList,
                        datasets: [{
                            label: monthList,
                            name: '경매 건수',
                            data: auctionCountList,
                            borderWidth: 1
                        },{
                            label: monthList,
                            name: '입찰 건수',
                            data: biddingCountList,
                            borderWidth: 1
                        }]

                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });


                new Chart(lineCtx, {
                    type: 'line',
                    name: '월별 거래 총액',
                    data: {
                        labels: monthList,
                        datasets: [{
                            label: monthList,
                            data: totalPriceList,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                stacked: true
                            }
                        }
                    }
                });
            });
        </script>
    </th:block>
</head>
<body>
<div class="content_area" layout:fragment="content">
    <h1 class="page-title light-border-bottom">통계 데이터</h1>
    <div class="statistical_item_area">
        <div class="statistical_item" id="tableTypeItem">
            <div class="item_label_area">
                <div class="label_icon d-flex align-items-center justify-content-center">
                    <i class="bi bi-record-fill"></i>
                </div>
                <strong>
                    <label class="item_label">월별 경매 현황 ([[${monthList[5]}]] ~ [[${monthList[0]}]])</label>
                </strong>
            </div>
            <div style="margin-bottom: 100px; margin-top: 20px;">
                <table style="border: 2px solid rgb(212, 212, 212);">
                    <tr style="border-bottom: 2px solid rgb(212, 212, 212);">
                        <th class="colName" style="width: 150px;"></th>
                        <th class="colName" th:each="month, i : ${monthList}" th:text="${month}" style="width: 140px;"></th>
                        <th class="colName" style="text-align: center; width: 140px;">합계</th>
                    </tr>
                    <tr>
                        <th class="colName">경매 등록</th>
                        <td class="cell" th:each="month, i : ${monthList}" th:text="${#numbers.formatInteger(auctionCountList[i.index], 1, 'COMMA')}"></td>
                        <td class="cell" th:text="${#numbers.formatInteger(auctionCountSum, 1, 'COMMA')}"></td>
                    </tr>
                    <tr>
                        <th class="colName">입찰 신청</th>
                        <td class="cell" th:each="month, i : ${monthList}" th:text="${#numbers.formatInteger(biddingCountList[i.index], 1, 'COMMA')}"></td>
                        <td class="cell" th:text="${#numbers.formatInteger(biddingCountSum, 1, 'COMMA')}"></td>
                    </tr>
                    <tr>
                        <th class="colName">거래 총액</th>
                        <td class="cell" th:each="month, i : ${monthList}" th:text="${#numbers.formatInteger(totalPriceList[i.index], 1, 'COMMA')}"></td>
                        <td class="cell" th:text="${#numbers.formatInteger(totalPriceSum, 1, 'COMMA')}"></td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="statistical_item" id="barChartTypeItem">
            <div class="item_label_area">
                <div class="label_icon d-flex align-items-center justify-content-center">
                    <i class="bi bi-record-fill"></i>
                </div>
                <strong>
                    <label class="item_label">경매등록 VS 입찰신청</label>
                </strong>
            </div>
            <div class="chart_box">
                <canvas id="barChart">
                </canvas>
            </div>
        </div>

        <div class="statistical_item" id="lineChartTypeItem">
            <div class="item_label_area">
                <div class="label_icon d-flex align-items-center justify-content-center">
                    <i class="bi bi-record-fill"></i>
                </div>
                <strong>
                    <label class="item_label">월별 거래 총액</label>
                </strong>
            </div>
            <div class="chart_box">
                <canvas id="lineChart">
                </canvas>
            </div>
        </div>


    </div>
</div>
</body>
</html>