<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/find_pw2.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>

        </script>
    </th:block>
    <title>비밀번호 찾기</title>
</head>

<body>
<form id="find_pw2_Form">
<div layout:fragment="content" class="find_pw2_container">
    <h2 class="find_pw2_title">비밀번호 변경</h2>
    <div class="find_pw2_line"></div>
    <div class="find_pw2_box">
        <p class="find_pw2_txt">변경할 비밀번호</p>
        <input type="password" id="userPw" name="userPw" class="find_pw2_input">
    </div>
    <div class="find_pw2_box">
        <p class="find_pw2_txt">변경할 비밀번호 재확인</p>
        <input type="password" id="userPw2" name="userPw" class="find_pw2_input">
    </div>
    <div class="view_box">
        <button class="find_pw2_btn" type="button" onclick="resetPassword()">비밀번호 변경</button>
    </div>
</div>
</form>
</body>
</html>
