<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/find_pw.css}">
    </th:block>
        <th:block layout:fragment="script">
            <script>
                function findPw() {
                    var userId = document.getElementById('userId').value;
                    var userName = document.getElementById('userName').value;
                    var userTel = document.getElementById('userTel').value;

                    $.ajax({
                       type: 'POST',
                       url: '/user/find_pw',
                       data: {
                           userId: userId,
                           userName: userName,
                           userTel: userTel
                       },
                        success: function (response) {
                            console.log(response);
                           if (response.item && response.item.tempPassword) {
                               alert(`임시 비밀번호를 발급 드렸습니다. 로그인 하시고 마이페이지 프로필수정에서 비밀번호를 바로 변경하여 주시길 바랍니다.`);
                               location.href = `/user/find_pw2-view?tempPassword=${response.item.tempPassword}`;
                           } else {
                               alert(response.item.msg);
                               window.location.reload();
                           }
                        },
                        error: function (error) {
                           alert('에러가 발생했습니다. 관리자에게 문의하세요.');
                            window.location.reload();
                        }
                    });
                }
            </script>
        </th:block>
    <title>비밀번호 찾기</title>
</head>
<body>
<div layout:fragment="content" class="find_pw_container">
    <form th:action="@{/user/find_pw}" name="find_pw" id="find_pw" method="post">
        <h1 class="page-title">비밀번호 찾기</h1>
        <!--
               <div class="find_id_line"></div>
               -->
        <div class="find_pw_textBox">
            <!--
                <h3>가입 시 등록한 아이디와 이름, 휴대폰번호를 입력하세요.</h3>
            -->
            가입 시 등록한 아이디와 이름, 휴대폰번호를 입력하세요.
        </div>
        <div class="find_pw_phoneNum">
            <h3 for="userId">아이디</h3>
        </div>
        <div>
            <input type="text" id="userId" name="userId" class="find_pw_input" placeholder="가입하신 아이디">
        </div>

        <div class="find_pw_phoneNum">
            <h3 for="userName">이름</h3>
        </div>
        <div>
            <input type="text" id="userName" name="userName" class="find_pw_input" placeholder="이 름">
        </div>
        <div class="find_pw_phoneNum">
            <h3 for="userTel">휴대폰 번호</h3>
        </div>
        <div>
            <input type="text" id="userTel" name="userTel" class="find_pw_input" placeholder="가입하신 휴대폰 번호">
        </div>

        <a>
            <button type="button" class="find_pw_btn btn-black" onclick="findPw()">비밀번호 찾기</button>
        </a>
    </form>
</div>
</body>
</html>