<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/find_id2.css}">
    </th:block>
        <th:block layout:fragment="script">
            <script>
                $(() => {
                   const url = new URL(location.href);
                   const params = url.searchParams;

                   $("#tempPassword").text(params.get("tempPassword"));

                });
            </script>
        </th:block>
    <title>비밀번호 찾기</title>
</head>

<body>
<div layout:fragment="content" class="find_id2_container">
    <h2 class="find_id_title">비밀번호 찾기에 성공 하였습니다.</h2>
    <div class="find_id2_line"></div>
        <div class="find_id_box">
            <p class="id_txt">임시 비밀번호</p>
            <p class="id_result"><span name="tempPassword" id="tempPassword" readonly></span></p>
        </div>
    <div class="view_box">
        <a href="/user/login-view"><button class="login_view2">로그인</button></a>
    </div>
</div>
</body>
</html>
