<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/find_id.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>아이디 찾기</title>
</head>
<body>
    <div layout:fragment="content" class="find_id_container">
        <h2 class="find_id_title">아이디 찾기</h2>
        <div class="find_id_line"></div>

        <div class="find_id_textBox">
            <h3>가입 시 등록한 휴대폰 번호를 입력하시면</h3>
            <h3>아이디의 일부를 알려드립니다.</h3>
        </div>

        <div class="find_id_phoneNum">
            <h3>휴대폰 번호</h3>
        </div>
        <div>
            <input type="text" class="find_id_input" placeholder="가입하신 휴대폰 번호">
        </div>
        <a href="/user/find_id2"><button class="find_id_btn">아이디 찾기</button></a>
    </div>
</body>
</html>