<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/join.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(() => {
                // 아이디 중복체크 여부
                let checkId = false;
                // 비밀번호 유효성 검사 여부
                let validationPw = false;
                // 비밀번호 일치 여부
                let confirmPw = false;

                // 아이디 중복체크
                $("#btnIdCheck").on("click", () => {
                    if ($("#userId").val() === "") {
                        alert("아이디를 입력하세요.")
                        $("#userId").focus();
                        return;
                    }

                    // const formData = new FormData($("#join_Form"));

                    // ajax로 백엔드와 통신
                    $.ajax({
                        url: '/user/id-check',
                        type: 'post',
                        data: $("#join_Form").serialize(),
                        // data: formData,
                        // processData: false,
                        // contentType: false,
                        success: (obj) => {
                            console.log(obj);

                            console.log(obj.item);
                            console.log(obj.item.idCheckMsg);

                            if (obj.item.idCheckMsg === "idFail") {
                                checkId = false;
                                alert("중복된 아이디 입니다.");
                                $("#userId").focus();
                                return;
                            }

                            if (confirm(`사용가능한 아이디입니다. ${$("#userId").val()}를(을) 사용하시겠습니까?`)) {
                                checkId = true;
                                $("#btnIdCheck").attr("disabled", true);
                            }
                        },
                        error: (error) => {
                            console.log(error);
                        }
                    });
                    // 중복체크 완료된 상태에서 아이디 값 변경했을 때 중복체크 버튼 다시 활성화
                    $("#userId").on("change", () => {
                        checkId = false;
                        $("#btnIdCheck").attr("disabled", false);
                    });

                    // 비밀번호 유효성 검사 정규식
                    const validatePassword = (userPw) => {
                        return /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*+=-]).{9,}$/.test(userPw);
                    }

                    // 비밀번호 입력 시 비밀번호 유효성 검사
                    $("#userPw").on("change", () => {
                        if (validatePassword($("#userPw").val())) {
                            validationPw = true;
                            $("#pwValidation").hide();
                        } else {
                            validationPw = false;
                            $("#pwValidation").show();
                        }

                        if ($("#userPw").val() === $("#userPwCheck").val()) {
                            confirmPw = true;
                            $("#pwCheckResult").text("비밀번호가 일치합니다.");
                            $("#pwCheckResult").css("color", "green");
                        } else {
                            confirmPw = false;
                            $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                            $("#pwCheckResult").css("color", "red");
                        }
                    });

                    // 비밀번호 확인과 비밀번호가 일치하는 지 검사
                    $("#userPwCheck").on("change", () => {
                        $("#pwCheckResult").show();

                        if ($("#userPw").val() === $("#userPwCheck").val()) {
                            confirmPw = true;
                            $("#pwCheckResult").text("비밀번호가 일치합니다.");
                            $("#pwCheckResult").css("color", "green");
                            return;
                        }

                        confirmPw = false;
                        $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                        $("#pwCheckResult").css("color", "red");
                    });

                    const formData = new FormData($("#join_Form").serialize()[0]);

                    // joinForm이 서브밋될 때 유효성 검사가 하나라도 false면 서브밋 막기
                    $("#join_Form").on("submit", (e) => {
                        // id 중복체크가 되지 않았을 때
                        if (!checkId) {
                            e.preventDefault();
                            alert("아이디 중복체크를 진행하세요.");
                            $("#userId").focus();
                            return;
                        }

                        // pw 유효성 검사가 틀렸을 때
                        if (!validationPw) {
                            e.preventDefault();
                            alert("비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정하세요.");
                            $("#userPw").focus();
                            return;
                        }

                        // pw가 일치하지 않을 때
                        if (!confirmPw) {
                            e.preventDefault();
                            alert("비밀번호가 일치하지 않습니다.");
                            $("#userPwCheck").focus();
                            return;
                        }

                        $.ajax({
                            url: '/user/join',
                            type: 'post',
                            data: formData,
                            success: (obj) => {
                                console.log(obj);

                                console.log(obj.item);
                                console.log(obj.item.idCheckMsg);
                            }
                        });

                    });
                });
            });
        </script>
    </th:block>
    <title>회원가입</title>
</head>
<body>
    <div layout:fragment="content" class="join_container">
        <form id="join_Form" action="/user/join" method="post">
            <h1 class="page-title">회원가입</h1>

        <div>
            <label for="userId" class="join_name" >아이디</label>
        </div>

        <div class="join_name_box">
            <input type="text" class="input_border"  name="userId" id="userId" placeholder="BitCamp">
            <button type="button" class="join_id_check" id="btnIdCheck">중복체크</button>
        </div>

        <div>
            <label for="userPw" class="join_name">비밀번호</label>
        </div>
        <div>
            <input type="password"  class="input_border" id="userPw" name="userPw" placeholder="영문, 숫자, 특수문자 조합 9자 이상">
        </div>
            <p class="pwValidation" id="pwValidation">
                비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정해주세요.
            </p>
            <div>
                <label for="userPwCheck" class="join_name">비밀번호 확인</label>
            </div>
            <div class="userPwCheck_box">
                <input type="password"  id="userPwCheck" name="userPwCheck" class="userPwCheck_input" placeholder="영문, 숫자, 특수문자 조합 9자 이상">
            </div>

            <p class="pwCheckResult" id="pwCheckResult" style="font-size: 0.8rem;"></p>

        <div>
            <label class="join_name">이름</label>
        </div>
        <div>
            <input type="text" class="input_border" name="userName" placeholder="홍길동">
        </div>

        <div>
            <label class="join_name">생년월일</label>
        </div>
        <div>
            <input type="text" class="input_border" name="userBirth" placeholder="숫자로만 입력해주세요. 예) 940826">
        </div>

        <div>
            <label class="join_name" >핸드폰 번호</label>
        </div>
        <div>
            <input type="tel" class="input_border" name="userTel" placeholder="01012345678">
        </div>

        <div>
            <label class="join_name" >배송지</label>
        </div>
        <div>
            <input type="text" class="input_border" name="userAddress" placeholder="서울특별시 강남구 태해란로20길 20">
        </div>

        <div class="join_name">이메일 주소</label>
        </div>
        <div>
            <input type="email" class="input_border" name="userEmail" placeholder="예) kream@kream.co.kr">
        </div>
        <button class="join_success btn-black" type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>