<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login/login.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>로그인</title>
</head>
<body>
    <div layout:fragment="content" class="login_container">
        <a href="/"><img src="https://i.namu.wiki/i/TzNoXw8pP9JTAtztdigof-bT1Ix2ahdTfX-hr6Wc3VCw8SOK68WtM7oJ9tCk4DYqyMCfIL0H2mYred0fPz5ukg.webp"
         class="login_logo"></a>

        <div>
            <label class="login_name">아이디</label>
        </div>
        <div>
            <input type="text" class="input_border" placeholder="BitCamp">
        </div>

        <div>
            <label class="login_name">비밀번호</label>
        </div>
        <div>
            <input type="password"  class="input_border" placeholder="영문, 숫자, 특수문자 조합 8-16자">
        </div>
        <div>
            <a href="/"><button class="login_btn">로그인</button></a>
        </div>

        <div class="find_div">
            <span class="join_view">
                <a href="/user/join">회원가입</a>
            </span>
            <span class="idfind_view">
                <a href="/user/find_id">아이디 찾기</a>
            </span>
            <span class="pwfind_view">
                <a href="/user/find_password">비밀번호 찾기</a>
            </span>
        </div>

        <div>
            <button class="kakaologin_btn">카카오 로그인</button>
        </div>


    </div>
</body>
</html>