.buying_container{

}

body{
    font-family: Pretendard;
}

.buying_box {
    height: 80px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
}

.buying_box2{
    height: 60px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
}

.buying_minibox1{
    height: 60px;
    width: 340px;
    text-align: center;
    border-bottom: 2px solid black;
}
.buying_cnt1 {
    color: rgba(229, 17, 17, 0.62);
    font-size: 20px;
}
.buying_minibox2{
    height: 60px;
    width: 340px;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}
.buying_minibox3{
    height: 60px;
    width: 340px;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

.buying_box3{
    height: 60px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    background-color: rgba(224,224,224,0.21);
}

