.inquiry_container {
    float: left;
    width: 1020px;
}
body{
    font-family: Pretendard;
}

.inquiry_box1{
    width: 1020px;
    height: 40px;
    border-bottom: 1px solid black;
}

.inquiry_box2{
    width: 1020px;
    height: 30px;
    margin-top: 50px;
    border-bottom: 1px solid black;
}

.inquiry_box2_content{
    font-size: 20px;
    font-weight: normal;
}

.inquiry_choice_box {
    width: 1020px;
    height: 30px;
    margin-top: 5px;
    background-color: #fffa3b;
}

.inquiry_choice{
    width: 1020px;
    height: 30px;
    border-radius: 10px;
}

.inquiry_title {
    margin-top: 5px;
    width: 1020px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}


.inquiry_content {
    border-radius: 10px;
    margin-top: 5px;
    width: 1020px;
    height: 200px;
}

.inquiry_file_box {
    margin-top: 5px;
    width: 1020px;
    height: 100px;
    display: flex;
    border-radius: 10px;
}

.inquiry_file{
    width: 820px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.inquiry_file_box label {
    color: #fff;
    background-color: #999999;
    cursor: pointer;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.inquiry_file_box input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.inquiry_content2 {
    margin-top: 5px;
    width: 1020px;
    height: 200px;
    border-radius: 10px;
}

.inquiry_btn {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    float: right;
}

.inquiry_btn2 {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: red;
    border-radius: 15px;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 18px;
    float: right;
}
