.profile_container {
    float: left;
    width: 1020px;
}
body{
    font-family: Pretendard;
}

.profile_box1{
    width: 1020px;
    height: 40px;
    border-bottom: 1px solid black;
}

.profile_box2{
    width: 1020px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.profile_box3{
    width: 510px;
    height: 20px;
    margin-top: 20px;
    font-size: 15px;
    color: lightgrey;
    margin-left: 25%;
}
.profile_input1 {
    width: 510px;
    height: 40px;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
    margin-left: 25%;

}
.input_box1 {
    width: 510px;
    height: 39px;
    border: none;
}


.profile_input2 {
    width: 510px;
    height: 40px;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}
.profile_input2 form{
    width: 100%;
}
.input_box2 {
    width: 460px;
    height: 39px;
    border: none;

}

.profile_btn {
    width: 510px;
    height: 40px;
    background-color: #e2e3e5;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
}

.profile_input3 {
    width: 510px;
    height: 40px;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

p {
    margin-left: 25%;
}



