.myinquiry_container {
    float: left;
    width: 1020px;
}
body{
    font-family: Pretendard;
}

.myinquiry_box1{
    width: 1020px;
    height: 40px;
    border-bottom: 1px solid black;
}

.myinquiry_history {
    height: 200px;
    width: 1020px;
    margin-top: 20px;
    display: flex;
}

.myinquiry_history_title {
    height: 180px;
    width: 1020px;

}
.myinquiry_history_content {
    margin: 80px;
    text-align: center;
    font-size: 17px;
}