.myinquiry_container {
    float: left;
    width: 1020px;
}
body{
    font-family: Pretendard;
}

.myinquiry_box1{
    width: 1020px;
    height: 40px;
    border-bottom: 1px solid black;
}

.myinquiry_box2{
    width: 1020px;
    height: 40px;
    background-color: #cccccc;

}

.table_tr {
    text-align: center;
}

table_th1, table_th2, table_th3, table_th4,table_th5 {
    margin: auto;
    border: solid 1px black;
}



