.mypage_container {

}
body{
    font-family: Pretendard;
}
.mypage_box1 {
    height: 120px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    border: 1px solid black;

}
.user_img {
    width: 80px;
    height: 80px;
    margin: 20px 20px 20px 60px;
    border-radius: 20px;
}

.user_info{
    margin-top: 20px;
}

.user_email {
    color: #e2e3e5;
}

.profile_update {
    margin-top: 5px;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.user_point {
    width: 100px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.user_inquiry {
    width: 100px;
    text-align: center;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.mypage_box2 {
    height: 50px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.selling_content {
    font-size: 23px;
    font-weight: bold;

}
.selling_view {
    font-size: 15px;
    text-align: right;
}
.selling_btn {

}

.mypage_box3 {
    height: 120px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    margin-top: 20px;
    background-color: rgba(46,204,113,0.05);
    border-radius: 20px;
}

.selling_box {
    width: 340px;
    text-align: center;
    margin-top: 30px;
}

.selling_history {
    height: 200px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
}

.selling_history_title {
    height: 180px;
    width: 1020px;

}
.selling_history_content {
    margin: 80px;
    text-align: center;
    font-size: 17px;
}

.mypage_box4 {
    height: 50px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.buying_content {
    font-size: 23px;
    font-weight: bold;

}
.buying_view {
    font-size: 15px;
    text-align: right;
}

.mypage_box5 {
    height: 120px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    margin-top: 20px;
    background-color: rgba(224,224,224,0.38);
    border-radius: 20px;
}

.buying_box {
    width: 340px;
    text-align: center;
    margin-top: 30px;
}

.buying_history {
    height: 200px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
}

.buying_history_title {
    height: 180px;
    width: 1020px;

}
.buying_history_content {
    margin: 80px;
    text-align: center;
    font-size: 17px;
}

.mypage_box6 {
    height: 50px;
    width: 1020px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.like_content {
    font-size: 23px;
    font-weight: bold;

}
.like_view {
    font-size: 15px;
    text-align: right;
}

.like_history {
    height: 440px;
    width: 1020px;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.like_history_title {
    height: 180px;
    width: 1020px;

}
.like_history_content {
    margin: 80px;
    text-align: center;
    font-size: 17px;
}