<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auctionLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/get_auction_list.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/auction_filter_tag.js}"></script>
        <script th:src="@{/js/countdown.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" class="goods-list-content">
    <div class="sub-category">
        <div class="sub-category-title">
            <span th:text="${topCategoryName}"></span>
        </div>
        <div class="sub-category-list">
            <span>카테고리</span>
            <ul>
                <li th:each="category : ${categoryList}">
                    <a href="#" th:if="${param.category} == null" th:href="@{/auction/goods-list(category=${category.id})}" th:text="${category.name}"></a>
                    <a href="#" th:unless="${param.category} == null" th:href="@{/auction/goods-list(category=${param.category}, subCategory=${category.id})}" th:text="${category.name}"></a>
                </li>
                <li><a href="#" th:if="${param.category} != null" th:href="@{/auction/goods-list(category=${param.category}, etc=1)}">기타</a></li>
            </ul>
        </div>
        <div class="filter-list">
            <p class="d-inline-flex gap-1">
            <div class="filter-list-title light-border-bottom">
                타켓층
                <i class="bi bi-caret-down"></i>
            </div>
            </p>
            <div>
                <div class="card card-body checkbox-group">
                    <ul>
                        <li>
                            <input type="checkbox" name="goods-target" value="baby">아기<br>
                        </li>
                        <li>
                            <input type="checkbox" name="goods-target" value="children">아이<br>
                        </li>
                        <li>
                            <input type="checkbox" name="goods-target" value="female">여성<br>
                        </li>
                        <li>
                            <input type="checkbox" name="goods-target" value="male">남성<br>
                        </li>
                        <li>
                            <input type="checkbox" name="goods-target" value="unisex">유니섹스<br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-list">
            <p class="d-inline-flex gap-1">
            <div class="filter-list-title light-border-bottom">
                마감 경매 포함
                <i class="bi bi-caret-down"></i>
            </div>
            </p>
            <div>
                <div class="card card-body checkbox-group">
                    <ul>
                        <li>
                            <input type="checkbox" id="closing-auction-checkbox" name="closing-auction" value="E">포함<br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="title">
                <div class="goods-number">
                    상품 <span th:text="${auctionList.totalElements}"></span>
                </div>
                <div class="filter-sorting btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-display="static" aria-expanded="false">
                        인기순
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">조회순</a></li>
                        <li><a class="dropdown-item" href="#">등록순</a></li>
                        <li><a class="dropdown-item" href="#">낮은 가격순</a></li>
                        <li><a class="dropdown-item" href="#">높은 가격순</a></li>
                        <li><a class="dropdown-item" href="#">마감 임박순</a></li>
                        <li><a class="dropdown-item" href="#">입찰 많은순</a></li>
                        <li><a class="dropdown-item" href="#">관심 많은순</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-tag-group">
        </div>
        <div class="container search-goods-list">
            <div class="search-goods" th:each="auction : ${auctionList}">
                <div class="goods-img">
                    <figure class="img_wrapper">
                        <a href="#" th:href="'/auction/goods/'+${auction.id}">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="@{/img/no-preview.jpeg}"
                                 th:if="${auction.representativeImgUrl} eq null"
                                 alt=""/>
                            <img class="d-block w-100"
                                 src=""
                                 th:src="${auction.representativeImgUrl}"
                                 th:if="${auction.representativeImgUrl} ne null"
                                 alt=""/>
                        </a>
                    </figure>
                    <div class="remaining-time">남은시간<br>
                        <span class="end_date" th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd''T''HH:mm:ss')}" style="display: none"></span>
                        <span class="months">0</span>
                        <span class="days">0</span><br>
                        <span class="hours">0</span>
                        <span class="minutes">0</span>
                        <span class="seconds">0</span>
                    </div>
                </div>
                <div class="title"><a href="#" th:href="'/auction/goods/'+${auction.id}"><span th:text="${auction.title}"></span></a></div>
                <div class="starting-price">시작가&nbsp;<span th:text="${auction.startingPrice}"></span></div>
                <div class="current-bidding_price">현재가&nbsp;<span th:text="${auction.immediatePrice}"></span></div>
                <div class="user-name">
                    <i class="bi bi-person"></i><span th:text="${auction.regUserId}"></span>
                </div>
                <div class="favorite-view-group">
                    <i class="bi bi-heart"></i>관심상품&nbsp;<span>345</span>
                    <i class="bi bi-eye"></i>조회수&nbsp;<span th:text="${auction.view}"></span>
                </div>
            </div>
        </div>


        <nav aria-label="Page navigation example" class="goods-list-page">
            <ul class="pagination justify-content-center" th:if="${auctionList.totalElements > 0}"
                th:with="pageNumber = ${auctionList.pageable.pageNumber},
                             pageSize = ${auctionList.pageable.pageSize},
                             totalPages = ${auctionList.totalPages},
                             startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                             tempEndPage = ${startPage + pageSize - 1},
                             endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" th:href="@{/auction/goods-list(page=${pageNumber - 1})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"  th:each="page : ${#numbers.sequence(startPage, endPage)}"><a class="page-link" href="#" th:href="@{/auction/goods-list(page=${page - 1})}" th:text="${page}">1</a></li>
                <li class="page-item" th:if="${pageNumber < totalPages - 1}">
                    <a class="page-link" href="#" aria-label="Next" th:href="@{/auction/goods-list(page=${pageNumber + 1})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>