<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/get_auction_product_list.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/countdown.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" class="main_product_list">
    <div class="product_title">
        <div class="product_main_title">
            <h2 class="product_big">Final hours</h2>
            <p class="product_small">마감 임박 상품</p>
        </div>
    </div>
    <div class="product_list">
        <div class="search-goods" th:each="auction : ${auctionList}">
            <div class="goods-img">
                <figure class="img_wrapper">
                    <a href="#">
                        <img class="d-block w-100"
                             src="https://cdn.pixabay.com/photo/2017/07/02/21/34/sport-shoe-2465915_1280.jpg"
                             alt=""/>
                    </a>
                </figure>
                <div class="remaining-time">남은시간<br>
                    <span class="end_date" th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd''T''HH:mm:ss')}" style="display: none"></span>
                    <span class="months">0</span>
                    <span class="days">0</span><br>
                    <span class="hours">0</span>
                    <span class="minutes">0</span>
                    <span class="seconds">0</span>
                </div>
            </div>
            <div class="title" th:text="${auction.title}"></div>
            <div class="starting-price">시작가&nbsp;<span th:text="${auction.startingPrice}"></span></div>
            <div class="current-bidding_price">현재가&nbsp;<span th:text="${auction.immediatePrice}"></span></div>
            <div class="user-name">
                <i class="bi bi-person"></i><span th:text="${auction.regUserId}"></span>
            </div>
            <div class="favorite-view-group">
                <i class="bi bi-heart"></i>관심상품&nbsp;<span>345</span>
                <i class="bi bi-eye"></i>조회수&nbsp;<span th:text="${auction.view}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
