<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auctionLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/get_auction.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/countdown.js}"></script>
        <script th:inline="javascript">
            $(() => {
                var description = [[${getGoods.description}]];

                $(".goods-detail").append(description);
                $(".carousel-item").first().addClass("active view");

                productId = [[${getGoods.id}]];

                setCookie("itemCookie", productId, 7);
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="column-bind">
            <div id="goodsCarousel" class="column goods-img carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="file: ${getGoods.auctionImgDTOList}">
                        <figure class="img_wrapper">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="${file.fileUrl}"
                                 alt=""/>
                        </figure>
                    </div>
                    <div class="carousel-item"
                         th:if="${#lists.size(getGoods.auctionImgDTOList) eq 0}">
                        <figure class="img_wrapper">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="@{/img/no-preview.jpeg}"
                                 alt=""/>
                        </figure>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#goodsCarousel"
                        data-bs-slide="prev"
                        th:if="${#lists.size(getGoods.auctionImgDTOList) ne 0}">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#goodsCarousel"
                        data-bs-slide="next"
                        th:if="${#lists.size(getGoods.auctionImgDTOList) ne 0}">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="goods-img-group-list">
                    <div class="goods-img-group-item" th:each="file: ${getGoods.auctionImgDTOList}"
                         th:if="${#lists.size(getGoods.auctionImgDTOList) ne 0}">
                        <figure class="img_wrapper">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="${file.fileUrl}"
                                 alt=""/>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column goods-info">
                <div class="category">
                    <a href="#" th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}"
                       th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="${getGoods.category.topCategory.name}+'> '"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                    </a>
                    <a href="#"
                       th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}+'&subCategory='+${getGoods.category.id}"
                       th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="${getGoods.category.name}"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                    </a>
                    <a href="#"
                       th:href="'/auction/goods-list?category='+${getGoods.category.id}">
                        <span th:text="${getGoods.category.name}"
                              th:if="${getGoods.category.topCategory} eq null"></span>
                    </a>
                </div>
                <div class="title" th:text="${getGoods.title}"></div>
                <div class="container light-border">
                    <div class="inline">
                        <p class="line-title">
                            시작가
                        </p>
                        <p class="line-description">
                            <span th:text="${getGoods.startingPrice}"></span><span class="won">원</span>
                        </p>
                    </div>
                    <div class="inline">
                        <p class="line-title">
                            현재가
                        </p>
                        <p class="line-description">
                            <span th:text="${getGoods.currentBiddingPrice}"></span><span class="won">원</span>
                        </p>
                    </div>
                </div>
                <div class="container date">
                    <div class="inline">
                        <p class="line-title">
                            남은시간
                        </p>
                        <p class="line-description remaining-time">
                            <i class="bi bi-clock"></i>
                            <span class="end_date"
                                  th:text="${#temporals.format(getGoods.endDate, 'yyyy-MM-dd''T''HH:mm:ss')}"
                                  style="display: none"></span>
                            <span class="months">0</span>
                            <span class="days">0</span>
                            <span class="hours">0</span>
                            <span class="minutes">0</span>
                            <span class="seconds">0</span>
                        </p>
                    </div>
                </div>
                <div th:if="${getGoods.regUserId} ne ${uid}">
                <div th:if="${uid} ne null">
                <div class="container">
                    <div class="link-group">
                        <a href="#" th:href="'/auction/impbiddinginfo/'+${getGoods.id}" class="link btn-red">
                            <div class="link-title immediately">
                                즉시<br>구매
                            </div>
                            <div class="link-description">
                                즉시 구매가<br>
                                <span class="price" th:text="${getGoods.immediatePrice}+'원'"></span>
                            </div>
                        </a>
                    </div>
                    <div class="link-group">
                        <a href="#" th:href="'/auction/bidding/'+${getGoods.id}" class="link btn-green">
                            <div class="link-title voluntary">
                                자율<br>입찰
                            </div>
                        </a>
                        원하는 입찰 금액을 적어주세요.
                    </div>
                </div>
                </div>
                <div th:if="${uid} eq null">
                <div class="container">
                    <div class="link-group">
                        <a href="#" th:href="'/user/login-view'" class="link btn-red">
                            <div class="link-title immediately">
                                즉시<br>구매
                            </div>
                            <div class="link-description">
                                즉시 구매가<br>
                                <span class="price" th:text="${getGoods.immediatePrice}+'원'"></span>
                            </div>
                        </a>
                    </div>
                    <div class="link-group">
                        <a href="#" th:href="'/user/login-view'" class="link btn-green">
                            <div class="link-title voluntary">
                                자율<br>입찰
                            </div>
                        </a>
                        원하는 입찰 금액을 적어주세요.
                    </div>
                </div>
                </div>
                </div>
                <div>
                    <a th:onclick="|javascript:toggleHeart('${getGoods.id}')|" class="favorite-link">
                        <i name="heart" th:data-auction-id="${getGoods.id}" th:id="'likeStatus_' + ${getGoods.id}" class="bi-heart favorite-icon" th:class="${getGoods.likeChk ? 'bi-heart-fill' : 'bi-heart'}"></i>관심&nbsp<span name="likeSum" th:data-count-id="${getGoods.id}" th:id="'likeSum_' + ${getGoods.id}" th:text="${getGoods.likeCnt}"></span>
                    </a>
                </div>
                <div class="user-bidding-container light-border-top">
                    <div class="user">
                        판매자<br>
                        <a href="#" th:href="'/auction/goods-list?regUser='+${getGoods.regUserId}"> <span
                                th:text="${getGoods.regUserId}"></span><i class="bi bi-chevron-right"></i></a>
                    </div>
                    <div class="bidding-info">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">입찰자</th>
                                <th scope="col">가격</th>
                                <th scope="col">입찰일자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bid: ${getBids}">
                                <th scope="row" th:text="${bid.userId}"></th>
                                <td th:text="${bid.biddingPrice}"></td>
                                <td th:text="${#temporals.format(bid.date, 'yy-MM-dd HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container light-border">
            <div class="goods-detail-title">
                경매 물품 상세정보<br>
                <span>
                    경매를 입찰하기 전, 경매 물품의 상세정보를 꼼꼼히 확인해주세요.
                </span>
            </div>
            <div class="goods-detail"></div>
        </div>
    </div>
</div>
</body>
</html>
