<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auctionLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/get_auction.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/countdown.js}"></script>
        <script th:inline="javascript">
            $(() => {
                var description = [[${getGoods.description}]];
                $(".goods-detail").append(description);
                $(".carousel-item").first().addClass("active view");
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="column-bind">
            <div id="goodsCarousel" class="column goods-img carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="file: ${getGoods.auctionImgDTOList}">
                        <figure class="img_wrapper">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="${file.fileUrl}"
                                 alt=""/>
                        </figure>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#goodsCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#goodsCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="goods-img-group-list">
                    <div class="goods-img-group-item" th:each="file: ${getGoods.auctionImgDTOList}">
                        <figure class="img_wrapper">
                            <img class="d-block w-100"
                                 src=""
                                 th:src="${file.fileUrl}"
                                 alt=""/>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column goods-info">
                <div class="title" th:text="${getGoods.title}"></div>
                <div class="container light-border">
                    <div class="inline">
                        <p class="line-title">
                            시작가
                        </p>
                        <p class="line-description">
                            <span th:text="${getGoods.startingPrice}"></span><span class="won">원</span>
                        </p>
                    </div>
                    <div class="inline">
                        <p class="line-title">
                            현재가
                        </p>
                        <p class="line-description">
                            <span th:text="${getGoods.currentBiddingPrice}"></span><span class="won">원</span>
                        </p>
                    </div>
                </div>
                <div class="container date">
                    <div class="inline">
                        <p class="line-title">
                            남은시간
                        </p>
                        <p class="line-description remaining-time">
                            <i class="bi bi-clock"></i>
                            05일04:03:37
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="link-group">
                        <a href="#" class="link btn-red">
                            <div class="link-title">
                                즉시<br>입찰
                            </div>
                            <div class="link-description">
                                즉시입찰가<br>
                                <span class="price" th:text="${getGoods.immediatePrice}+'원'"></span>
                            </div>
                        </a>
                    </div>
                    <div class="link-group">
                        <a href="#" class="link btn-green">
                            <div class="link-title">
                                자율<br>입찰
                            </div>
                            <div class="link-description">
                                자율 입찰가<br>
                                <input type="text" maxlength="10" onkeyup="inputNumberFormat(this);"
                                       name="bidding_price" class="form-control"/>
                                <span class="price won">원</span>
                            </div>
                        </a>
                        원하는 입찰 금액을 적어주세요.
                    </div>
                </div>
                <a href="#" class="favorite-link">
                    <i class="bi bi-heart"></i>관심&nbsp;<span>345</span>
                </a>
                <div class="user-bidding-container light-border-top">
                    <div class="user">
                        판매자<br>
                        <span th:text="${getGoods.regUserId}"></span><i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="bidding-info">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">가격</th>
                                <th scope="col">입찰일자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container light-border">
            <div class="goods-detail-title">
                경매 물품 상세정보<br>
                <span>
                    경매를 입찰하기 전, 경매 물품의 상세정보를 꼼꼼히 확인해주세요.
                </span>
            </div>
            <div class="goods-detail"></div>
        </div>
        <div class="container light-border-bottom">
            <div class="question-title">
                경매 문의<br>
                <span>
                    상품에 대한 문의를 남기는 공간입니다.
                </span>
            </div>
            <div class="question">
                <span>
                    로그인을 하신 후에 문의 작성이 가능합니다
                </span><br>
                <input type="button" id="question" value="문의하기">
            </div>
        </div>
    </div>
</div>
</body>
</html>