<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/reg_auction.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/get_subCategory_ajax.js}"></script>
        <script th:src="@{/js/reg_auction.js}"></script>
        <script>
            $(document).ready(function () {
                ClassicEditor.create(document.querySelector('#editor'), {
                    toolbar: ['heading', '|', 'undo', 'redo', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'imageUpload'],
                    shouldNotGroupWhenFull: false,
                    language: "ko",
                    ckfinder: {
                        uploadUrl: '/auction/img/upload',
                        withCredentials: true
                    }
                }).then(newEditor => {
                    editor = newEditor;
                    if (description != null) {
                        editor.setData(description);
                    }
                }).catch(error => {
                    console.error(error);
                });
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content register-auction">
        <h1 class="page-title">경매 등록</h1>
        <form id="insertForm" action="/auction/register.do" method="post" enctype="multipart/form-data">
            <table style="border-collapse: collapse">
                <tr>
                    <td class="input-group">
                        <input type="text" name="title" id="title" class="form-control" placeholder="경매 제목" autofocus/>
                    </td>
                </tr>
                <tr>
                    <td class="mb-3 light-border">
                        <label class="form-label">카테고리</label>
                        <div class="input-group basic-category">
                            <label class="input-group-text">상위 카테고리</label>
                            <select name="topCategory" class="form-select" id="drop-topCategory">
                                <option selected value="">카테고리 선택</option>
                                <option value="" th:each="topCategory : ${topCategoryList}"
                                        th:value="${topCategory.id}"
                                        th:text="${topCategory.name}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group basic-category">
                            <label class="input-group-text">하위 카테고리</label>
                            <select name="subCategory" class="form-select" id="drop-subCategory">
                                <option selected value="">카테고리 선택</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="mb-3 light-border">
                        <label class="form-label">타켓층</label>
                        <div class="input-group basic-category target-checkbox-group">
                            <span><input type='radio' name='target' value='' checked/>없음</span>
                            <span><input type='radio' name='target' value='baby'/>아기</span>
                            <span><input type='radio' name='target' value='children'/>아이</span>
                            <span><input type='radio' name='target' value='female'/>여성</span>
                            <span><input type='radio' name='target' value='male'/>남성</span>
                            <span><input type='radio' name='target' value='unisex'/>유니섹스</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="mb-3 light-border">
                        <label class="form-label">거래 가격</label>
                        <div class="input-group">
                            <label class="input-group-text">시작가</label>
                            <input type="number" maxlength="10"
                                   name="startingPrice" id="startingPrice" class="form-control price-comma"/>
                            <span class="input-group-text">원(￦)</span>
                            <label class="input-group-text">즉시입찰가</label>
                            <input type="number" maxlength="10"
                                   name="immediatePrice" id="immediatePrice" class="form-control price-comma"/>
                            <span class="input-group-text">원(￦)</span>
                        </div>
                        <div class="form-text basic-addon">시작가는 추후 변경이 불가능합니다.</div>
                    </td>
                </tr>
                <tr>
                    <td class="mb-3 light-border">
                        <div class="input-group">
                            <label class="input-group-text">경매 마감일</label>
                            <input type="datetime-local" name="endDate" id="endDate" class="form-control"/>
                        </div>
                        <div class="form-text basic-addon">경매 진행 기간은 최소 3일입니다.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label">경매 물품 이미지</label>
                        <label class="label-uploadFiles" for="uploadFiles">업로드</label>
                        <input type="file" onchange="addFile(this)" name="uploadFiles" id="uploadFiles" multiple/>
                        <div class="file-list"></div>
                        <div class="form-text basic-addon">최대 5개까지 업로드할 수 있습니다.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="description" id="editor"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="hidden" maxlength="10"
                               name="currentBiddingPrice" id="currentBiddingPrice" class="form-control price-comma"
                               value="0"/>
                        <input type="hidden" maxlength="10"
                               name="representativeImgName" id="representativeImgName"
                               class="form-control price-comma"/>
                        <button id="register" type="button">등록</button>
                    </td>
                </tr>
            </table>
        </form>
        <!-- CKEditor -->
        <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
        <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    </div>
</div>
</body>
</html>