.recent{
    margin-bottom: 20px;
}
.content-container{
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    height: 650px;
}
.product-container{
    padding: 15px 40px 15px 40px;
    width: 647px;
    height: 650px;
    background-color: white;
}

.bidding-container{
    position: relative;
    left: 647px;
    width: 553px;
    height: 650px;
    bottom: 650px;
    background-color: #f4f3f1;
}

.product-container , .product-name{
    text-align: center;
}

.bidding-area{
    padding: 35px 30px 30px 30px;
}

.price-option{
    background-color: white;
    height: 350px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.subtotal{
    background-color: white;
    height: 200px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.name-price{
    background-color: white;
}

.pricing-options{
    display: flex;
}

.pricing-options div:nth-child(n){
    border-radius: 10px;
    border: solid 1px;
    border-color: #1a2028;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.clicked {
    background-color: rgba(244, 243, 241, 0.75);
}

.price-option #good-bid {
    margin-left: 24px;
    margin-right: 24px;
}

.price-option #buy-now {
    margin-left: 24px;
    margin-right: 24px;
}

.img_wrapper {
    position: relative;
    padding-top: 100%;
}

 .img_wrapper img {
    position: absolute;
    width: 565px;
    height: 545px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

 .bid-input{
    width: 446px;
    height: 55px;
    margin-left: 24px;
     font-size: 22px;
     font-family: Pretendard;
     padding-left: 20px;
     border-radius: 10px;
 }

#realTimeValue{
    font-size: 20px;
    font-family: GmarketSans;
}

 .head-text{
     margin-bottom: 20px;
     font-family: GmarketSans;
 }

 .content-text {
     font-family: Pretendard;
     font-size: 18px;
     font-weight: 600;
     padding: 20px 0px 3px 24px;
     margin-bottom: 15px;
 }

 .placeholder-text{
     font-family: Pretendard;
     font-size: 15px;
     padding: 20px 0px 3px 24px;
 }

 .subtotal .price-text{
      padding: 20px 0px 3px 24px;
 }

 .subtotal-description{
     margin-top: 20px;
 }

 .nav-area{
    position: sticky;
    bottom: 0;
    width: 1200px;
    height: 100px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
 }

.navicon-container{
    margin-top: 30px;
}

.back-navicon-wrapper svg{
    position: absolute;
    width: 50px;
    height: 50px;
    color: #21252969;
}

.back-navicon-wrapper svg:hover{
    transition: 1s;
    color: rgba(30, 30, 30, 0.8);
}

.next-navicon-wrapper svg{
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    color: #21252969;
}
.next-navicon-wrapper svg:hover{
    transition: 1s;
    color: rgba(30, 30, 30, 0.8);
}

.price-text{
    font-family: Pretendard;
}

.option-text{
    font-family: Pretendard;
}
