<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bid/biddinginfo.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content-container">
        <div class="shipping-container">
            <div class="shipinfo-container">
                <h2>Shipping Info</h2>
                <div class="title2" th:text="${inputValue}"></div>
                <script>
                    console.log(inputValue());
                </script>
                <hr>
                <h2>Address</h2>
                <div class="address-container">
                </div>
            </div>
        </div>
        <div class="productinfo-container">
            <h2 class="head-text">Product Info</h2>
            <hr>
            <div class="info-container">
            <div class="product-image">
                <figure class="img_wrapper">
                    <img
                     src="https://cdn.pixabay.com/photo/2016/06/03/17/35/shoes-1433925_1280.jpg"
                    alt="productImg"/>
                </figure>
            </div>
                <div class="product-info">
                    <div class="category">
                        <a href="#" th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}"
                           th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="'[' + ${getGoods.category.topCategory.name}+'> '"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                        </a>
                        <a href="#"
                           th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}+'$subCategory='+${getGoods.category.id}"
                           th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="${getGoods.category.name}+']'"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                        </a>
                        <a href="#"
                           th:href="'/auction/goods-list?category='+${getGoods.category.id}">
                        <span th:text="${getGoods.category.name}"
                              th:if="${getGoods.category.topCategory} eq null"></span>
                        </a>
                    </div>
                    <div class="title" th:text="${getGoods.title}"></div>
                    </br>
                        <h3 class="head-text">Total Price</h3>
                        <p class="content-text">product price</p>
                </div>
            </div>
        </div>
        <div class="paymentselect-container">
            <h2>Payment Select</h2>
            <hr>
            <form id="payment" action="auction/bidding/info.do" method="post" enctype="multipart/form-data">
            <fieldset>
              <label>
                <input type="radio" name="payment-option" value="1" checked />
                <span class="content-text">무통장결제</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="2" />
                <span class="content-text">카드</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="3"  />
                <span class="content-text">네이버페이</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="4" />
                <span class="content-text">카카오페이</span>
              </label>
            </fieldset>
            </form>
            <hr>
            <div class="button-wrapper">
            <button type="submit" value="order" onclick="location.href='http://localhost:8080/auction/goods'" class="order-button" id="order">
                <p class="content-text">주문하기</p>
            </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
