<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/biddingLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bid/bidding.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/to_price_comma.js}"></script>
    </th:block>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
 <div class="content-container">
    <div class="product-container">
         <h2 class="head-text">Product name</h2>
        <div class="product-image">
            <figure class="img_wrapper">
            <img
             src="https://cdn.pixabay.com/photo/2016/06/03/17/35/shoes-1433925_1280.jpg"
            alt="productImg"/>
            </figure>
        </div>
    </div>

    <div class="bidding-container">
        <div class="bidding-area">
            <div class="price-option">
                <p class="content-text">Pricing Options</p>
                <div class="pricing-options">
                    <div class="good-bid">
                        <p class="price-text">₩194,000</p>
                        <p class="option-text">현재 입찰가</p>
                    </div>
                    <div class="better-bid">
                        <p class="price-text">₩204,000</p>
                        <p class="option-text">최소 입찰가</p>
                    </div>
                     <div class="buy-now">
                         <p class="price-text">₩304,000</p>
                         <p class="option-text">즉시 입찰가</p>
                    </div>
                </div>
                    <div class="name-price">
                    <p class="content-text">자율 입찰가 입력</p>
                     <div class="input-text">
                        <input type="number" class="bid-input" placeholder="여기에 입력해주세요">
                    </div>
                    <div class="placeholder-text">
                        <p id="price" class="price-description">희망하는 입찰가를 입력해주세요</p>
                    </div>
                 </div>
            </div>

            <div class="subtotal">
                <p class="content-text">Subtotal</p>
                <p class="price-text">₩324,000</p>
                <div class="placeholder-text">
                  <p class="subtotal-description">세금과 배송비를 포함한 가격입니다</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
