<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bid/biddinginfo.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/to_price_comma.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">

    <div class="content-container">
        <div class="productinfo-container">
            <h2 class="head-text">결제 정보 확인</h2>
            <hr>
            <div class="info-container">
                <table class="infoTable">
                    <thead>
                    <tr>
                        <th>상품정보</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>카테고리</td>
                        <td>
                        <div class="category">
                            <a href="#" th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}"
                               th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="'[' + ${getGoods.category.topCategory.name}+'> '"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                            </a>
                            <a href="#"
                               th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}+'$subCategory='+${getGoods.category.id}"
                               th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="${getGoods.category.name}+']'"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                            </a>
                            <a href="#"
                               th:href="'/auction/goods-list?category='+${getGoods.category.id}">
                        <span th:text="${getGoods.category.name}"
                              th:if="${getGoods.category.topCategory} eq null"></span>
                            </a>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td>품목명</td>
                        <td>  <div class="title" th:text="${getGoods.title}"></div></td>
                    </tr>
                    <tr>
                        <td>입찰가격</td>
                        <input type="hidden" th:value="${getGoods.immediatePrice}" id="biddingPrice" name="biddingPrice">
                        <td><p class="content-text" th:text="${getGoods.immediatePrice}+'원'"></p></td>
                    </tr>
                    </tbody>
                </table>

                    <div class="product-image" th:each="file: ${getGoods.auctionImgDTOList}">
                        <figure class="img_wrapper">
                            <img src=""
                                 th:src="${file.fileUrl}"
                                 alt=""/>
                        </figure>
                    </div>
            </div>
                <div class="userinfo-container">
                        <h2>회원정보확인</h2>
                        <hr>
                    <div class="info-container">
                        <table class="userinfoTable">
                            <thead>
                            <tr>
                                <th>회원정보</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>이름</td>
                                <td><p class="content-text" th:text="${getUser.userName}"></p></td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td><p class="content-text" th:text="${getUser.userEmail}"></p></td>
                            </tr>
                            <tr>
                                <td>연락처</td>
                                <td><p class="content-text" th:text="${getUser.userTel}"></p></td>
                            </tr>
                            <tr>
                                <td>배송지</td>
                                <td><p class="content-text" th:text="${getUser.userAddress}"></p></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            </div>
        </div>


        <div class="paymentselect-container">
            <h2>결제방법선택</h2>
            <hr>
            <fieldset>
              <label>
                <input type="radio" name="payment-option" value="1" checked/>
                <span class="content-text">무통장결제</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="2" />
                <span class="content-text">카드</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="3"  />
                <span class="content-text">네이버페이</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="4" />
                <span class="content-text">카카오페이</span>
              </label>
            </fieldset>
            <hr>
            <div class="button-wrapper">
            <button type="button" value="order" id="bid-button" class="content-text">결제하기</button>
            </div>
        </div>

     <script th:inline="javascript" >

                $("#bid-button").on("click", () =>{
                var radioVal = $('input[name="payment-option"]:checked').val();
                var biddingPrice = $("#biddingPrice").val();
                var auctionId = [[${getGoods.id}]];
                var userId = [[${getUser.userId}]];
                    console.log(userId);
                    var parameter = {
                        payment: radioVal,
                        biddingPrice: biddingPrice,
                        auctionId : auctionId,
                        userId : userId
                    };

                    var param = JSON.stringify(parameter);
                    var url = "/auction/impbiddinginfo/" + auctionId;

                    $.ajax({
                        url: url,
                        method: 'POST',
                        contentType: "application/json",
                        data: param,
                        async: false,
                        success: () => {
                            alert("success");
                        },
                        error: () => {
                            alert("fail");
                        }
                    });
                });

        </script>
    </div>
</div>
</body>
</html>
