d<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bid/biddinginfo.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/impbidding.js}"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content-container">
        <div class="shipping-container">
            <div class="shipinfo-container">
                <h2>Shipping Info</h2>
                <hr>
                <h2>Address</h2>
                <div class="address-container">
                </div>
            </div>
        </div>
        <div class="productinfo-container">
            <h2 class="head-text">Product Info</h2>
            <hr>
            <div class="info-container">
            <div class="product-image">
                <figure class="img_wrapper">
                    <img
                     src="https://cdn.pixabay.com/photo/2016/06/03/17/35/shoes-1433925_1280.jpg"
                    alt="productImg"/>
                </figure>
            </div>
                <div class="product-info">
                    <div class="category">
                        <a href="#" th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}"
                           th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="'[' + ${getGoods.category.topCategory.name}+'> '"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                        </a>
                        <a href="#"
                           th:href="'/auction/goods-list?category='+${getGoods.category.topCategory.id}+'$subCategory='+${getGoods.category.id}"
                           th:if="${getGoods.category.topCategory} ne null">
                        <span th:text="${getGoods.category.name}+']'"
                              th:if="${getGoods.category.topCategory} ne null"></span>
                        </a>
                        <a href="#"
                           th:href="'/auction/goods-list?category='+${getGoods.category.id}">
                        <span th:text="${getGoods.category.name}"
                              th:if="${getGoods.category.topCategory} eq null"></span>
                        </a>
                    </div>
                    <div class="title" th:text="${getGoods.title}"></div>
                    </br>
                        <h3 class="head-text">Total Price</h3>
                        <input type="hidden" th:value="${getGoods.immediatePrice}" id="biddingPrice" name="biddingPrice">
                        <p class="content-text" th:text="${getGoods.immediatePrice}+'원'"></p>원
                </div>
            </div>
        </div>
        <div class="paymentselect-container">
            <h2>Payment Select</h2>
            <hr>
            <fieldset>
              <label>
                <input type="radio" name="payment-option" value="virtual" checked/>
                <span class="content-text">무통장결제</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="card" />
                <span class="content-text">카드</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="naverpay"  />
                <span class="content-text">네이버페이</span>
              </label>
                </br>
              <label>
                <input type="radio" name="payment-option" value="kakaopay" />
                <span class="content-text">카카오페이</span>
              </label>
            </fieldset>
            <hr>
            <div class="button-wrapper">
            <button type="button" value="order" onclick="save()" class="order-button">
                <p class="content-text">주문하기</p>
            </button>
            </div>
        </div>
         <script th:inline="javascript">


function save() {
	var radioVal = $('input[name="payment-option"]:checked').val();
    var biddingPrice = $("#biddingPrice").val();
    var auctionId = [[${getGoods.id}]];
    var userId = [[${getGoods.regUserId}]];
	console.log(radioVal);
	console.log(biddingPrice);
	console.log(auctionId);
	console.log(userId);
		var parameter = {
			payment: radioVal,
			biddingPrice: biddingPrice,
            auctionId : auctionId,
            userId : userId
		};

		var param = JSON.stringify(parameter);
		var url = "/auction/impbiddinginfo/" + auctionId;
		console.log(param);
		console.log(parameter);
		console.log(url);

		$.ajax({
			url: url,
			method: 'POST',
			contentType: "application/json",
			data: param,
			success: () => {
				alert("success");
				location.href = "/";
			},
			error: (err) => {
				console.log(err);
				alert(err.responseJSON.errorMessage);
			}
		});
}

         </script>
    </div>
</div>
</body>
</html>
