<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<div th:fragment="auctionNav" class="auction-nav">
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/auction/goods-list">전체</a>
        <a class="nav-link" href="#"
           th:href="@{/auction/goods-list(category=${topCategory.id}, name=${topCategory.name})}"
           th:each="topCategory : ${topCategoryList}"><span
                th:text="${topCategory.name}"></span></a>
    </nav>
</div>
</body>
</html>