<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<div th:fragment="auctionNav" class="auction-nav">
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="#">전체</a>
        <a class="nav-link" href="#">아우터</a>
        <a class="nav-link" href="#">상의</a>
        <a class="nav-link" href="#">하의</a>
        <a class="nav-link" href="#">신발</a>
        <a class="nav-link" href="#">가방</a>
        <a class="nav-link" href="#">지갑</a>
        <a class="nav-link" href="#">시계</a>
        <a class="nav-link" href="#">패션잡화</a>
    </nav>
</div>
</body>
</html>