<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<body>
<header th:fragment="biddingHeader">
    <div class="header_top">
        <ul class="top_list">

            <li>
                <a th:href="@{/board}" class="top_link"> 고객센터 </a>
            </li>

            <li>
                <a th:href="@{/board}" class="top_link1"> 로그인/회원가입 </a>
            </li>

        </ul>
    </div>
    <div th:class="header_main">

        <a th:href="@{/board}" th:class="logo">
            <img th:src="@{/img/logoo.png}" th:class="logo_bk">
        </a>

        </div>
    <div class="h-line">
    </div>
    <hr>

</header>
</body>
</html>
