<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(() => {
                goodsId = [[${getGoods.id}]];
                goodsTitle = [[${getGoods.title}]];
                goodsImg = [[${getGoods.representativeImgUrl}]];
                console.log(currentItems);
            });
        </script>
    </th:block>
</head>
<body>
<header th:fragment="header">
    <div class="main_header">
        <div class="header_top">
            <ul class="top_list">

                <li>
                    <a th:href="@{/board}" class="top_link"> 고객센터 </a>
                </li>

                <li>
                    <a th:href="@{/user/login}" class="top_link1"> 로그인/회원가입 </a>
                </li>

            </ul>
        </div>
        <div th:class="header_main">
            <a th:href="@{/#}" th:class="logo">
                <img th:src="@{/img/logoo.png}" th:class="logo_bk">
            </a>

            <form th:action="@{/auction/search}" method="get" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="검색어를 입력해주세요." aria-label="Search"
                       id="searchInput" name="searchQuery" th:attr="data-show-alert-th=${showAlertValue}">
            </form>
            <div class="category_menu">
                <div class="category_menu_item">
                    <a th:href="@{/#}" class="home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                        </svg>
                        <span>홈</span>
                    </a>
                    <a th:href="@{/board}" class="category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-grid-3x3-gap" viewBox="0 0 16 16">
                            <path d="M4 2v2H2V2h2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2v2H7V2h2zm5 0v2h-2V2h2zM4 7v2H2V7h2zm5 0v2H7V7h2zm5 0h-2v2h2V7zM4 12v2H2v-2h2zm5 0v2H7v-2h2zm5 0v2h-2v-2h2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"/>
                        </svg>
                        <span>카테고리</span>
                    </a>
                    <a th:href="@{/user/mypage}" class="cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                        <span>마이페이지</span>
                    </a>
                </div>


            </div>
        </div>
        <hr>
        <div class="recent">
            <div class="dropdown">
                <div class="dropdown-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class="dropbtn">최근 본 상품</span>
                </div>

                <div class="dropdown-content">
                    <ul class="list_box" id="recent-items">
                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class="dropbtn">최근 알림</span>
                </div>
                <div class="dropdown-content">
                    <ul class="list_box">
                        <li style="text-align: left" class="content_box">
                            카톡1
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡2
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡3
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡4
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡5
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡6
                        </li>
                        <li style="text-align: left" class="content_box">
                            카톡7
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class="dropbtn">관심 항목</span>
                </div>
                <div class="dropdown-content">
                    <ul class="list_box">
                        <li style="text-align: left" class="content_box">
                            <a th:href="@{/board}" class="a_tag">
                                <div class="content_boxes">
                                    <div class="list-img">
                                        <figure class="img_wrapper">
                                            <img class="d-block w-100"
                                                 src="https://cdn.pixabay.com/photo/2017/07/02/21/34/sport-shoe-2465915_1280.jpg"
                                                 alt="">
                                        </figure>
                                    </div>
                                    <div class="list-title">가나다라마바사아자차카타파하</div>
                                </div>
                            </a>
                            <i class="bi-heart favorite-icon" onclick="toggleHeart()"></i>
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 2
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 3
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 4
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 5
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 6
                        </li>
                        <li style="text-align: left" class="content_box">
                            관심 항목 파일 7
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>