.content_area {
    width: 1020px;
    margin-left: 180px;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: Pretendard;
}

.title_area {
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 48px;
    padding-bottom: 7px;
    margin-top: 30px;
    display: flex;
}

.title {
    color: rgb(34, 34, 34);
    display: block;
    font-size: 26px;
    width: 927px;
}

#search_table, #inquiry_search_table {
    width: 990px;
    height: 40px;
    border-collapse: collapse;
    font-size: 24px;
    margin: 60px 15px;
}

.search_item {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: inline;
    padding: 0;
    margin: 0;
    border: 1px solid #bcbcbc;
    font-family: Pretendard;
}

#search_area, #inquiry_search_area {
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_icon {
    font-size: 1.3em;
    color: #999999;
}

input::placeholder {
    font-size: 14px;
    color: #999999;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table_form, #inquiry_table_form {
    font-size: 14px;
    font-family: Pretendard;
}

#table_form th, #inquiry_table_form th {
    text-align: center;
    vertical-align: middle;
}

#table_form, #inquiry_table_form {
    width: 990px;
    border-collapse: collapse;
    margin: 10px 15px 20px;
}

.table_colName {
    vertical-align: middle;
}

#table_header_bottom, #inquiry_table_header_bottom {
    height: 2px;
    border-top: 1px solid #cccccc;
}

.table_row {
    text-align: center;
    height: 35px;
    border-bottom: 1px solid #e2e3e5;
}

.table_row td {
    vertical-align: middle;
}

#table_body_bottom, #inquiry_table_body_bottom {
    height: 4px;
    border-top: 2px solid #dedede;
}

.td_textArea {
    text-align: left;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 560px;
}

.memberInfo_inquiryTitle {
    text-align: left;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
}

.detailView_area {
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

#search_area #category, #inquiry_search_area #status {
    width: 168px;
    text-indent: 12px;
    border-radius: 10px;
}

#faq_add_container #category {
    border: 1px solid #999999;
    border-radius: 10px;
    display: inline-block;
    padding: 0 15px;
    height: 48px;
    font-size: 18px;
}

#faq_detail_container #category {
    border: 2px solid #cccccc;
    letter-spacing: 1.5px;
    border-radius: 5px;
    background-color: #ebebeb;
    display: inline-block;
    padding: 3px 8px;
}

#category-parent {
    padding: 1px;
    border: 1px solid #cccccc;
    display: inline-block;
    border-radius: 6px;
}

#faq_add_container #content_box {
    font-size: 18px;
    padding: 7px 20px;
}

.detail_item {
    width: 990px;
    display: block;
    box-sizing: border-box;
    margin: 40px 0 10px;
}

.item_label_area {
    display: flex;
    padding: 10px 0;
}

.label_icon {
    color: lightcoral;
}

.item_label {
    font-size: 20px;
    font-weight: 700;
    color: rgb(107, 107, 107);
    margin-left: 5px;
}

.view_box {
    box-sizing: border-box;
    border-radius: 10px;
    width: 990px;
    padding: 7px 20px;
    border: 1px solid #999999;
    height: auto;
    font-size: 18px;
}

#content_box {
    padding: 10px;
}

.text_area {
    border: none;
    resize: none;
    display: table;
    table-layout: auto;
    width: 100%;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0);
    height: 28px;
}

.text_area:focus, .detailView_area #category, .search_item {
    outline: none;
}

#modalPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.data_area {
    margin: 0 30px;
    box-sizing: border-box;
}

#closeBtn {
    width: 30px;
    height: 30px;
    font-size: 1.6em;
    background-color: #dedede;
    color: white;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.table_header {
    height: 40px;
    border-collapse: collapse;
    background-color: #f4f4f4;
    font-size: 18px;
    text-align: center;
}

#memberInfo_area {
    display: grid;
    grid-template-columns: 1fr;
}

.memberInfo_item {
    margin-top: 25px;
    margin-bottom: 10px;
}

.statistical_item {
    margin-top: 25px;
    margin-bottom: 10px;
}

#joinInfo {
    width: 450px;
}

#inquiryHistory {
    width: 450px;
    margin-left: 60px;
}

#memberInfo_container {
    border: 1px solid #bcbcbc;
    margin: 40px 0 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.memberInfo_item > table {
    border-collapse: collapse;
    border: 2px solid #d4d4d4;
    --leftColWidth: 110px; /* 변수 설정 */
    --rightColWidth: 340px; /* 변수 설정 */
}

.joinInfo_key {
    /*text-align: center;*/
    text-indent: 23px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    width: var(--leftColWidth);
}

.joinInfo_value {
    text-indent: 10px;
    border: 1px solid #d4d4d4;
    width: var(--rightColWidth);
}

.colName {
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
}

.cell {
    border: 1px solid #d4d4d4;

}

#inquiryHistory .colName:first-child {
    width: var(--leftColWidth);
}

#inquiryHistory .colName:nth-child(2) {
    width: var(--rightColWidth);
}

#purchaseHistory, #salesHistory {
    width: 100%;
}

#purchaseHistory > table, #salesHistory > table {
    width: 100%;
}

.button_area {
    margin: 60px 0 0;
    --btn-height: 45px;
    height: var(--btn-height);
    display: flex;
    justify-content: flex-end;
}

.button_area button {
    margin-left: 15px;
}

.textTypeBtn {
    width: 80px;
    border-radius: 0.375rem;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
}

#toInquiryListBtn {
    margin-bottom: 0;
    font-size: 16px;
    border: none;
}

.pageMoveBtn {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    transition: font-weight, border;
}

.pageMoveBtn:hover, #searchBtn:hover {
    border: 2px solid #dedede;
    font-weight: 550;
}

.statistical_item_area {
    border: 1px solid lightblue;
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

.detailView_area {
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

#test_temp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

