.content_area {
    width: 1020px;
    margin-left: 180px;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: Pretendard;
    /*    border: 1px solid black;               !* <--- 영역 구분을 위한 임시 테두리 *!*/
}

.title_area {
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 48px;
    /*width: 1020px;*/
    padding-bottom: 7px;
    margin-top: 30px;
    display: flex;
}

.title {
    color: rgb(34, 34, 34);
    display: block;
    font-size: 26px;
    width: 927px;
}

#search_table, #inquiry_search_table {
    width: 990px;
    height: 40px;
    border-collapse: collapse;
    font-size: 24px;
    margin: 60px 15px;
}

.search_item {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: inline;
    padding: 0;
    margin: 0;
    /*border: 1px solid #dedede;*/
    /*border: 1px solid rgb(153, 153, 153);*/
    border: 1px solid #bcbcbc;
    font-family: Pretendard;
}

#search_area, #inquiry_search_area {
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_icon {
    font-size: 1.3em;
    color: #999999;
}

input::placeholder {
    font-size: 14px;
    color: #999999;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#table_header, #inquiry_table_header {*/
/*    !*width: 990px;*!*/
/*    height: 40px;*/
/*    border-collapse: collapse;*/
/*    background-color: #f4f4f4;*/
/*    border-top: 0.5px solid #e2e3e5;*/
/*    font-size: 18px;*/
/*    text-align: center;*/
/*}*/

#table_form, #inquiry_table_form {
    font-size: 14px;
    font-family: Pretendard;
}

#table_form th, #inquiry_table_form th {
    text-align: center;
    vertical-align: middle;
}

#table_form, #inquiry_table_form {
    width: 990px;
    border-collapse: collapse;
    /*background-color: skyblue;  !*#f4f4f4;*!*/
    margin: 10px 15px 20px;
}

.table_colName {
    vertical-align: middle;
    /*font-weight: 550;*/
}

#table_header_bottom, #inquiry_table_header_bottom {
    height: 2px;
    border-top: 1px solid #cccccc;
    /*border-bottom: 2px solid #999999;*/
}

.table_row {
    text-align: center;
    height: 35px;
    border-bottom: 1px solid #e2e3e5;
}

.table_row td {
    vertical-align: middle;
}

#table_body_bottom, #inquiry_table_body_bottom {
    height: 4px;
    border-top: 2px solid #dedede;
}

.td_textArea {
    text-align: left;
    text-indent: 20px;
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분을 감추기 */
    text-overflow: ellipsis; /* 생략 기호 (...)로 표시 */
    max-width: 560px;
}

.memberInfo_inquiryTitle {
    text-align: left;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
}

/*----------------------------------------------------------*/

/*#detailView_table {*/
/*    width: 990px;*/
/*    border-collapse: collapse;*/
/*    background-color: lightblue;*/
/*    font-size: 18px;*/
/*    margin: 20px 15px;*/
/*}*/

.detailView_area {
    /*    border: 1px solid lightblue;      !* <--- 영역 구분을 위한 임시 테두리 *!*/
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

#search_area #category, #inquiry_search_area #status {
    /* border: 1.5px solid #dedede;
     !*border: 1px solid #797979;*!
     display: inline-block;
     font-size: 16px;
     padding: 5px;
 */
    width: 168px;
    text-indent: 12px;
    border-radius: 10px;
}

/*.detailView_area*/
#faq_add_container #category {
    border: 2px solid #ebebeb;
    border-radius: 10px;
    display: inline-block;
    padding: 0 15px;
    height: 48px;
    font-size: 18px;
}

#faq_detail_container #category {
    border: 2px solid #cccccc;
    letter-spacing: 1.5px;
    border-radius: 5px;
    background-color: #ebebeb;
    display: inline-block;
    padding: 3px 8px;
}

#category-parent {
    padding: 1px;
    border: 1px solid #cccccc;
    display: inline-block;
    border-radius: 6px;
    /*background-color: ghostwhite;*/
}

#faq_add_container #content_box {
    font-size: 18px;
    padding: 7px 20px;
}

/*style="padding: 2px; border: 1px solid #dedede; display: inline-block; border-radius: 6px;"*/
/*
#faq_detail_container #category-parent {
    !*width: calc(100% + 4px);*!
    !*height: calc(100% + 4px);*!
    border: 2px solid #ccc;
    box-sizing: border-box;
}*/
/*#f4f3f1*/
/*style="background-color: #f4f3f1; border-radius: 5px; border: 1px solid #dedede; letter-spacing: 1.5px;"*/

.detail_item {
    width: 990px;
    display: block;
    box-sizing: border-box;
    /*    border: 1px solid mediumpurple;    !* <--- 영역 구분을 위한 임시 테두리 *!*/
    margin: 40px 0 10px;
    /*--viewbox-hieght: 40;*/ /* <--- 변수 설정*/
}

.item_label_area {
    display: flex;
    padding: 10px 0;
}

.label_icon {
    color: lightcoral;
}

.item_label {
    font-size: 20px;
    font-weight: 700;
    color: rgb(107, 107, 107);
    margin-left: 5px;
}

.view_box {
    box-sizing: border-box;
    border-radius: 10px;
    width: 990px;
    padding: 7px 20px;
    border: 2px solid #7a7a7a;
    height: auto;
    font-size: 18px;
}

.view_color {
    /*background-color: ghostwhite;*/
}

/*#title_box, #file_box {
    height: 48px;
}*/

#content_box {
    padding: 10px;
}

.text_area {
    border: none;
    resize: none;
    display: table;
    table-layout: auto;
    width: 100%;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0);
    height: 28px;

    /*    border: 1px dashed red;    !* <--- 영역 구분을 위한 임시 테두리 *!*/
}

.text_area:focus, .detailView_area #category, .search_item {
    outline: none;
}

/*----------------------------------------------------------*/

#modalPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.data_area {
    margin: 0 30px;
    box-sizing: border-box;
}

#closeBtn {
    width: 30px;
    height: 30px;
    font-size: 1.6em;
    background-color: #dedede;
    color: white; /*rgb(107, 107, 107);  #999999;*/
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.table_header {
    height: 40px;
    border-collapse: collapse;
    background-color: #f4f4f4;
    font-size: 18px;
    text-align: center;
}

#memberInfo_area {
    display: grid;
    grid-template-columns: 1fr;
}

.memberInfo_item {
    margin-top: 25px;
    margin-bottom: 10px;
}

#joinInfo {
    width: 450px;
}

#inquiryHistory {
    width: 450px;
    margin-left: 60px;
}

#memberInfo_container {
    border: 1px solid #bcbcbc;
    margin: 40px 0 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.memberInfo_item > table {
    border-collapse: collapse;
    border: 2px solid #d4d4d4;
    --leftColWidth: 110px; /* 변수 설정 */
    --rightColWidth: 340px; /* 변수 설정 */
}

.joinInfo_key {
    /*text-align: center;*/
    text-indent: 23px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    width: var(--leftColWidth);
}

.joinInfo_value {
    text-indent: 10px;
    border: 1px solid #d4d4d4;
    width: var(--rightColWidth);
}

.colName {
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
}

.cell {
    border: 1px solid #d4d4d4;

}

#inquiryHistory .colName:first-child {
    width: var(--leftColWidth);
}

#inquiryHistory .colName:nth-child(2) {
    width: var(--rightColWidth);
}

#purchaseHistory, #salesHistory {
    width: 100%;
}

#purchaseHistory > table, #salesHistory > table {
    width: 100%;
}


/*----------------------------------------------------------*/

.button_area {
    margin: 60px 0 0;
    --btn-height: 45px;
    height: var(--btn-height);
    display: flex;
    justify-content: flex-end; /* 자식 요소를 컨테이너의 끝으로 정렬 */
}

.button_area button {
    margin-left: 15px;
}

.textTypeBtn {
    width: 80px;
    border-radius: 0.375rem;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
}

#toInquiryListBtn {
    margin-bottom: 0;
    font-size: 16px;
    border: none;
}

.pageMoveBtn {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    transition: font-weight, border; /* 트랜지션 효과 추가 (부드러운 변화) */
}

.pageMoveBtn:hover, #searchBtn:hover {
    border: 2px solid #dedede;
    font-weight: 550;
}

/*----------------------------------------------------------*/

.statistical_item_area {
    border: 1px solid lightblue; /*<--- 영역 구분을 위한 임시 테두리 */
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

.detailView_area {
    /*    border: 1px solid lightblue;      !* <--- 영역 구분을 위한 임시 테두리 *!*/
    margin: 40px 0;
    padding: 0 15px;
    color: rgb(107, 107, 107);
}

#test_temp {
    display: flex;
    justify-content: center; /* 부모 요소의 가로 중앙 정렬 */
    align-items: center; /* 부모 요소의 세로 중앙 정렬 */
    height: 100vh; /* 높이를 화면 전체 높이로 설정 */
}

