.content, .container, .goods-list, .info-img, .info-title-category, .link-group, .link, .goods-list-page {
    float: left;
}

.content, .container, .goods-list, .link-group, .link, .goods-list-page {
    width: 100%;
}

.content {
    float: right;
    width: 1020px;
}

.container {
    margin: 0;
    padding: 0;
}

.goods-filter .nav-link {
    color: rgba(34, 34, 34, .5);
}

.goods-filter .active {
    color: black;
    font-weight: 700;
}

.goods-list {
    padding-bottom: 30px;
}

.goods-list .info-title {
    width: 280px;
}

.goods-list .date-title, .endDate-title {
    width: 105px;
}

.goods-list td, .goods-list th {
    text-align: center;
    vertical-align: middle;
}

.info-title-category {
    text-align: left;
}

.info-img {
    width: 30%;
}

.info-title-category {
    width: 70%;
    padding: 0 10px;
    color: rgba(34, 34, 34, .5);
    font-weight: 600;
}

.info-title-category .title {
    font-weight: 600;
}

.state-title {
    margin-bottom: 4px;
    color: rgb(46, 204, 113);
    text-align: center;
}

.info-img figure {
    margin: 0;
}

.goods-list-page .page-link {
    color: rgb(100, 106, 118);
}

.goods-list-page .active > .page-link {
    color: white;
    background-color: rgb(100, 106, 118);
    border-color: rgb(100, 106, 118);;
}

#register {
    float: right;
}

.biddingStatus {
    color: #1a2028;
}

.table {
    font-size: 14px;
}