.content, .container {
    float: left;
}

.content, .container {
    width: 100%;
}

.content {
    padding: 30px 40px;
}

.register-auction table {
    width: 100%;
}

.register-auction td {
    margin: 10px 0;
    padding: 10px 20px;
}

.register-auction #title {
    border: none;
    resize: none;
    font-size: 16px;
    font-weight: 700;
}

.register-auction #title:focus {
    outline: none;
}

.register-auction .input-group-text, .register-auction .form-control, .register-auction .form-select {
    padding: 10px;
}

.register-auction .input-group-text {
    font-size: 14px;
}

.register-auction .form-control, .register-auction .form-select, .register-auction .form-text {
    font-size: 14px;
}

.register-auction .form-label {
    font-size: 20px;
    font-weight: 700;
}

.basic-category {
    padding: 10px 0;
}

.ck-editor__editable {
    min-height: 500px;
}

#register {
    height: 42px;
    padding: 0 18px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

.target-checkbox-group input {
    margin-right: 5px;
}

.target-checkbox-group span {
    margin: 0 15px;
    font-size: 13px;
}

#uploadFiles {
    font-size: 14px;
    margin-top: 10px;
}

#attachZone > div {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 5px;
    border: 1px solid #6c757d;
    z-index: 1;
}

#attachZone > div input {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    z-index: 999;
    border-radius: 5px;
    border: 1px solid rgb(239, 98, 83);
    color: rgb(239, 98, 83);
}

#attachZone > div span {
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-list {
    margin-top: 0.25rem;
    width: 450px;
    overflow: auto;
    background-color: #ebebeb;
    padding: 10px;
}

.file-list .filebox {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.file-list .filebox p {
    float: left;
    width: 350px;
    font-size: 14px;
    display: inline-block;
}

.file-list .filebox .delete i {
    color: #ff5353;
    margin-left: 5px;
}

.file-list .filebox .represent i {
    color: rgb(65, 185, 121);
    margin-left: 5px;
}

.label-uploadFiles {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 0.375rem;
    background-color: #6c757d;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#current-category {
    color: rgb(65, 185, 121);
    font-size: 16px;
    font-weight: 700;
}

#update {
    padding: 10.5px 18px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
}