.home_container {
    position: relative;
    overflow: hidden;
}
.home_md .home_card_list {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 5px;
}

.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    transition-delay: unset;
}

.active img {
    height: auto;
}
.carousel-item img {
    height: auto;
}

.main_body {
    width: 100%;
}

.main_body header {
    width: 1200px;
    margin: 0 auto;
}
.main_body footer {
    width: 1200px;
    margin: 0 auto;
}
.main_menu {
    width: 1200px;
    margin: 0 auto;
}

.shortcut_items_wrap {
    grid-row-gap: 16px;
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    row-gap: 16px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.shortcut_items_wrap a {
    text-decoration: none;
}

.shortcut_item {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.shortcut_item img {
    height: 225px;
    width: 225px;
    object-fit: contain;
    border-radius: 30px;
}
.shortcut_item_title {
    color: #333;
    font-size: 15px;
    letter-spacing: -.15px;
    margin-top: 8px;
    font-family: Pretendard;
}

.home_product {
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px solid #ebebeb;
}

.container_title {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container_title>.title_item {
    flex: 1;
}
.title_item_name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    font-family: GmarketSans;
}

.title_item_sub {
    color: rgba(34,34,34,.5);
    font-size: 16px;
    margin-top: 2px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Pretendard;
}

.home_product .search-goods-list1 {
    grid-template-columns: repeat(4,minmax(0,1fr));
    display: grid;
}
.home_product .search-goods-list2 {
    grid-template-columns: repeat(4,minmax(0,1fr));
    display: grid;
}
.home_product .search-goods-list3 {
    grid-template-columns: repeat(4,minmax(0,1fr));
    display: grid;
}

.home_product .search-goods {
    float: left;
    width: 95%;
    margin: 0;
    text-align: center;
    font-family: Pretendard;
    margin-bottom: 25px;
}

.carousel-caption h5{
    font-family: GmarketSans;
}

.carousel-caption p{
    font-family: Pretendard;
}

.home_product .search-goods .remaining-time {
    width: 85%;
    font-size: 14px;
}

.home_product .container {
    --bs-gutter-x: 0rem;
    margin: 0;
    margin-left: 7px;
}

.home_product .btn_product {
    text-align: center;
    width: 1200px;
    margin-bottom: 20px;
}

.home_product .search-goods .title {
    margin: 40px 0 4px 0;
}

.btn_product .btn {
    margin-top: 10px;
    padding: 0 30px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.btn_product .outline {
    border: 1px solid #d3d3d3;
    color: black;
}
.btn_product .medium {
    border-radius: 12px;
    font-size: 14px;
    height: 42px;
    letter-spacing: -.14px;
    font-family: Pretendard;
}
.more_product a {
    color: rgba(34,34,34,.5);
    font-size: 13px;
    letter-spacing: -.07px;
    font-family: Pretendard;
}
