html, body {
    min-height: 100%
}

html {
    background-color: #fff;
}

header {
    justify-content: space-between;
    align-items: center;
    background: white;
}

body {
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}

html, .btn {
    font-family: Pretendard;
}

a {
    text-decoration: none;
}

.light-border {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.light-border-top {
    border-top: 1px solid #ebebeb;
}

.light-border-bottom {
    border-bottom: 1px solid #ebebeb;
}

.page-title {
    padding-bottom: 5px;
    padding-top: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: GmarketSans;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.btn-red {
    background-color: rgb(239, 98, 83);
    color: white;
}

.btn-green {
    background-color: rgb(65, 185, 121);
    color: white;
}

.btn-white {
    border: 1px solid #ebebeb;
}

.btn-black {
    padding: 10px 18px;
    margin-bottom: 30px;
    border-radius: 0.375rem;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.link {
    padding: 5px;
    margin: 2px 0;
    font-weight: 700;
    text-align: center;
    border-radius: 0.375rem;
}

.link a, .link a:link, .link a:visited, .link a:hover, .link a:active {
    color: white;
}
