<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>자주 묻는 질문 - 상세조회</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/my/admin.css">-->
<!--    <link rel="stylesheet" th:href="@{/css/user/admin.css}">-->


    <th:block layout:fragment="css">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>
    <th:block layout:fragment="script" th:with="requestUrl = ${requestUrl}, status = ${status}">
        <script>

            $(() => {
                console.log($(".text_area")[0].scrollHeight);
                console.log($("#title_box").css('height'));


                for (let i=0; i<$('.view_box').length; i++) {
                    let viewboxHeight = 30;
                    let id = $('.view_box')[i].getAttribute('id');

                    console.log("id = " + id);

                    if (id == "content_box") {
                        viewboxHeight = viewboxHeight * 12;
                    }

                    if($("#" + id + " > .text_area")[0].scrollHeight > viewboxHeight) {
                        $("#" + id).height( $("#" + id + " > .text_area")[0].scrollHeight );
                    } else {
                        $("#" + id).height( viewboxHeight );
                    }
                }

                //------------------------------------------------------------------------------

                /*let requestUrl = /!*[(${requestUrl})]*!/ {};
                let status = /!*[(${status})]*!/ {};

                console.log(requestUrl);
                console.log(status);

                if(requestUrl.contains('/faq_add') && status == true){
                    alert("저장이 완료되었습니다.");
                }*/

            });



        </script>
    </th:block>
</head>
<body>
<div class="content_area" layout:fragment="content">
    <div class="title_area">
        <div class="title">
            <strong>자주 묻는 질문 - 상세조회</strong>
        </div>
    </div>
    <div id="faq_detail_container">
        <div class="detailView_area">
            <form id="detailViewForm" action="" method="post">
                <div id="category-parent">
                    <div id="category" name="category" th:text="${faqDTO.category}">카테고리명</div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">제목</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="title_box">
                            <textarea class="text_area" th:text="${faqDTO.title}" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">내용</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="content_box">
                            <textarea class="text_area" th:text="${faqDTO.content}" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="detail_item" th:if="${faqDTO.faqAttachedFileDTOList != null && !faqDTO.faqAttachedFileDTOList.equals('')}">
                    <div>
                        <div class="item_label_area">
                            <div class="label_icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-record-fill"></i>
                            </div>
                            <strong>
                                <label class="item_label">첨부파일</label>
                            </strong>
                        </div>
                        <div class="view_box view_color" id="file_box">
<!--                            <textarea class="text_area" readonly>-->
<!--                            <p class="text_area" readonly style="box-sizing: border-box; cursor: default; display: flex; flex-wrap: nowrap;">-->
                                <p th:each="file : ${faqDTO.faqAttachedFileDTOList}" style="font-size: 16px; cursor: pointer; display: inline-flex; margin: 3px 30px 2px 0; text-decoration-thick: auto; text-decoration-style: solid; vertical-align: text-top; white-space-collapse: collapse;">
                                    <!--<a th:text="${file.fileName} + '  '"
                                       th:href="@{/download/{filePath}(filePath=${file.filePath})}"></a>-->
                                    <i class="bi bi-file-earmark-arrow-down-fill" style="color: #999999; margin-right: 3px;"></i>
                                    <!--<i class="bi bi-file-earmark-arrow-down" style="color: #999999; margin-right: 3px;"></i>-->
                                    <!--<i class="bi bi-download" style="color: #999999; margin-right: 3px;"></i>-->
                                    <a th:text="${file.fileName}"
                                       th:href="@{/file_download/{faqId}-{fileId}(faqId=${faqDTO.faqId}, fileId=${file.fileId})}"></a>
                                </p>
<!--                            </p>-->

<!--                            </textarea>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>