<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/buying.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>입찰 내역</title>
</head>
<body>
    <div layout:fragment="content" class="buying_container">
        <div class="buying_box">
            <h2>입찰 내역</h2>
        </div>

        <div class="buying_box2">
            <div class="buying_minibox1">
                <a type="button" href="#">
                <strong class="buying_cnt1">0</strong>
                <p>입찰 중</p>
                </a>
            </div>
            <div class="buying_minibox2">
                <a type="button" href="#">
                <strong class="buying_cnt2">0</strong>
                <p>진행 중</p>
                </a>
            </div>
            <div class="buying_minibox3">
                <a type="button" href="#">
                <strong class="buying_cnt3">0</strong>
                <p>입찰 완료</p>
                </a>
            </div>
        </div>

        <div class="buying_box3">
            <a></a>
        </div>
    </div>
</body>
</html>