<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auction/my_auction_list.css}">
        <link rel="stylesheet" th:href="@{/css/auction/common_auction.css}">
        <link rel="stylesheet" th:href="@{/css/user/login/login.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(document).ready(function() {
                $('.btn-cancel').click(function () {
                    var auctionId = $(this).data('id');

                    $.ajax({
                        method: 'put',
                        url: '/auction/cancel',
                        data: {id:auctionId},
                        success: (obj) => {
                            alert(obj.item.msg);
                            location.href = "/user/reg-goods";
                        },
                        error: (err) => {
                            console.log(err);
                            alert(err.responseJSON.errorMessage);
                        }
                    });
                });
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="container">
            <h1 class="page-title">등록 경매 조회</h1>
            <div class="goods-filter">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/reg-goods">전체</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/reg-goods?status=S">진행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/reg-goods?status=E">종료</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/reg-goods?status=C">취소</a>
                    </li>
                </ul>
            </div>
            <div class="goods-list">
                <table class="table">
                    <thead>
                    <tr class="table-secondary">
                        <th scope="col" class="info-title">경매정보</th>
                        <th scope="col" class="date-title">등록일자</th>
                        <th scope="col" class="endDate-title">마감일자</th>
                        <th scope="col" class="starting-price-title">시작가</th>
                        <th scope="col" class="current-bidding-price-title">현재가</th>
                        <th scope="col" class="immediate-price-title">즉시입찰가</th>
                        <th scope="col" class="state-title">경매상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="auction : ${auctionList}">
                        <td class="info">
                            <div class="info-img">
                                <figure class="img_wrapper">
                                    <a href="#" th:href="'/auction/goods/'+${auction.id}">
                                        <img class="d-block w-100"
                                             src=""
                                             th:src="@{/img/no-preview.jpeg}"
                                             th:if="${auction.representativeImgUrl} eq null"
                                             alt=""/>
                                        <img class="d-block w-100"
                                             src=""
                                             th:src="${auction.representativeImgUrl}"
                                             th:if="${auction.representativeImgUrl} ne null"
                                             alt=""/>
                                    </a>
                                </figure>
                            </div>
                            <div class="info-title-category">
                                <span th:text="${auction.category.topCategory.name}+'> '"
                                      th:if="${auction.category.topCategory} ne null"></span>
                                <span th:text="${auction.category.name}"></span><br>
                                <a href="#" th:href="'/auction/goods/'+${auction.id}">
                                    <span class="title" th:text="${auction.title}"></span></a>
                            </div>
                        </td>
                        <td th:text="${#temporals.format(auction.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${auction.startingPrice}+'원'"></td>
                        <td th:text="${auction.currentBiddingPrice}+'원'"></td>
                        <td th:text="${auction.immediatePrice}+'원'"></td>
                        <td>
                            <div class="state-title">
                                <span th:if="${auction.status} eq 'S'">경매중</span>
                                <span th:if="${auction.status} eq 'E'">경매종료</span>
                                <span th:if="${auction.status} eq 'C'">경매취소</span>
                            </div>
                            <div class="link-group" th:if="${auction.status} eq 'S'">
                                <a href="#" class="link btn-green" th:href="'/auction/goods-update/'+${auction.id}"
                                   th:if="${auction.status} eq 'S'">수정</a><br>
                                <a href="#" class="link btn-red btn-cancel" th:if="${auction.status} eq 'S'" th:data-id="${auction.id}">취소</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example" class="goods-list-page">
                <ul class="pagination justify-content-center" th:if="${auctionList.totalElements > 0}"
                    th:with="pageNumber = ${auctionList.pageable.pageNumber},
                             pageSize = ${auctionList.pageable.pageSize},
                             totalPages = ${auctionList.totalPages},
                             startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                             tempEndPage = ${startPage + pageSize - 1},
                             endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="@{/auction/goods-list(page=${pageNumber - 1})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
                                                                                                       href="#"
                                                                                                       th:href="@{/auction/goods-list(page=${page - 1})}"
                                                                                                       th:text="${page}">1</a>
                    </li>
                    <li class="page-item" th:if="${pageNumber < totalPages - 1}">
                        <a class="page-link" href="#" aria-label="Next"
                           th:href="@{/auction/goods-list(page=${pageNumber + 1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <a id="register" href="/auction/register">새 경매 등록</a>
        </div>
    </div>
</div>
</body>
</html>