<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout2}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/inquiry.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>문의 하기</title>
</head>
<body>
<div layout:fragment="content" class="inquiry_container">
    <div class="inquiry_box1">
        <h2>문 의</h2>
    </div>

    <div class="inquiry_box2">
        <h3 class="inquiry_box2_content">문의 유형</h3>
    </div>

    <!--메뉴 만들기-->
    <div class="inquiry_choice">
        <h2>나중에 메뉴 만들어야함 일반문의/상품문의</h2>
    </div>

    <div class="inquiry_box2">
        <h3 class="inquiry_box2_content">제 목</h3>
    </div>
    <input type="text" class="inquiry_title" placeholder="제목을 입력해주세요.">

    <div class="inquiry_box2">
        <h3 class="inquiry_box2_content">내 용</h3>
    </div>

    <input type="text" class="inquiry_content" placeholder="내용을 입력해주세요.">

    <div class="inquiry_box2">
        <h3 class="inquiry_box2_content">첨부 파일</h3>
    </div>

    <div class="inquiry_file_box">
        <input class="inquiry_file" value="파일 추가(doc, docx, xls, xlsx, ppt, pptx, hwp, txt, pdf, jpg, jpeg, png, gif, bmp, tif)"
               placeholder="첨부파일">
        <label for="file">파일 찾기</label>
        <input type="file" id="file">
    </div>

    <div class="inquiry_box2">
        <h3 class="inquiry_box2_content">문의 답변</h3>
    </div>

    <input type="text" class="inquiry_content2" placeholder="문의 하신 내용에 답변이 완료 되지 않았습니다.">

</div>


</body>
</html>