<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/myinquiry.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>마이 문의</title>
</head>
<body>
<div layout:fragment="content" class="myinquiry_container">
    <div class="myinquiry_box1">
        <h2>마이 문의</h2>
    </div>

    <div class="myinquiry_box2">
        <table class="table">
            <thead>
            <tr class="table_tr">
                <th scope="col" class="table_th1">체크</th>
                <th scope="col" class="table_th2">문의번호</th>
                <th scope="col" class="table_th3">제 목</th>
                <th scope="col" class="table_th4">문의유형</th>
                <th scope="col" class="table_th5">등록일자</th>
                <th scope="col" class="table_th6">답변상태</th>

            </tr>
            </thead>
            <tr class="table_tr" th:each="inquiry: ${inquiryList}">
                <td>
                    <input type="checkbox" name="chk">
                </td>
                <td th:text="${inquiry.inquiryNo}">
                    <a href="inquiry/1">문의 번호</a>
                </td>
                <td name="inquiryTitleTd" th:text="${inquiry.inquiryTitle}" th:href="@{|/inquiry/$inquiry.inquiryNo|}">
                    <a href="inquiry/1">문의 제목</a>
                </td>
                <td th:text="${inquiry.inquiryType}">문의유형</td>
                <td th:text="${inquiry.inquiryRegdate}">문의등록한 날짜</td>
                <td th:text="${inquiry.inquiryAnswer}">문의 답변</td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>