<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/mypage.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>마이페이지</title>
</head>
<body>
    <div layout:fragment="content" class="mypage_container">
        <div class="mypage_box1">
            <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-user-vector-icon-png-image_5152508.jpg"
            class="user_img">

            <div class="user_info">
                <strong class="user_name">홍길동</strong>
                <p class="user_email">bitcamp@naver.com</p>
                <a class="profile_update" type="button" href="/user/profile">프로필 수정</a>
                <a class="user_point" type="button" href="#">포인트</a>
                <a class="user_inquiry" type="button" href="#">문 의</a>
            </div>
        </div>

        <div class="mypage_box2">
            <div class="selling_title">
                <p class="selling_content">낙찰 내역</p>
            </div>
            <div class="selling_view">
                <a class="selling_btn" type="button" href="#">더보기></a>
            </div>
        </div>

        <div class="mypage_box3">
            <div class="selling_box">
                <strong>낙찰 대기</strong>
                <p>0</p>
            </div>
            <div class="selling_box">
                <strong>낙찰 중</strong>
                <p>0</p>
            </div>
            <div class="selling_box">
                <strong>낙찰 완료</strong>
                <p>0</p>
            </div>
        </div>

        <div class="selling_history">
            <div class="selling_history_title">
                <h3 class="selling_history_content">낙찰 내역이 없습니다.</h3>
            </div>
        </div>

        <div class="mypage_box4">
            <div class="buying_title">
                <p class="buying_content">입찰 내역</p>
            </div>
            <div class="buying_view">
                <a class="buying_btn" type="button" href="#">더보기></a>
            </div>
        </div>

        <div class="mypage_box5">
            <div class="buying_box">
                <strong>입찰 중</strong>
                <p>0</p>
            </div>
            <div class="buying_box">
                <strong>진행 중</strong>
                <p>0</p>
            </div>
            <div class="buying_box">
                <strong>입찰 완료</strong>
                <p>0</p>
            </div>
        </div>

        <div class="buying_history">
            <div class="buying_history_title">
                <h3 class="buying_history_content">입찰 내역이 없습니다.</h3>
            </div>
        </div>

        <div class="mypage_box6">
            <div class="like_title">
                <p class="like_content">관심 목록</p>
            </div>
            <div class="like_view">
                <a class="like_btn" type="button" href="#">더보기></a>
            </div>
        </div>

        <div class="like_history">
            <div class="like_history_title">
                <h3 class="like_history_content">추가하신 관심 상품이 없습니다.</h3>
            </div>
        </div>


    </div>
</body>
</html>