<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/mypoint.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/mypoint.js}">
        </script>
    </th:block>
    <title>포인트페이지</title>
</head>
<body>
    <div layout:fragment="content" class="mypage_container">
        <input type="hidden" id="id" name="id" th:value="${#authentication.principal.user.id}">
        <h3>옥션 포인트</h3>
        <div class="point-container">
            <p class="head-text" >보유 중인 포인트</p>
            <div class="point-stock">
                <p th:text="${getPoint.point} + '₩'"></p>
            </div>
            <form onsubmit="return sendit()">
            <div class="button-container">
                <button id="chargePoint" onclick="charge()">충전하기</button>
                <button id="withdrawPoint" onclick="withdraw()">인출하기</button>
            </div>
            </form>
        </div>
        <script>
            function charge(){
                window.open("chargeForm" , "point" , "width=600, height=400");
            }
            function withdraw(){
                window.open("withdrawForm" , "point" , "width=600, height=400");
            }

        </script>

    </div>
</body>
</html>
