<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/myPageLayout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/mypage/profile.css}">
    </th:block>
    <!--    <th:block layout:fragment="script">-->
    <!--        <script th:src="@{/js/to_price_comma.js}"></script>-->
    <!--    </th:block>-->
    <title>프로필</title>
</head>
<body>
    <div layout:fragment="content" class="profile_container">
        <div class="profile_box1">
            <h2>프로필 수정</h2>
        </div>
        <div class="profile_box2">
            <p>내 계정</p>
        </div>

        <div class="profile_box3">
            <p>이 름</p>
        </div>
        <div class="profile_input1">
            <form action="#" method="post">
                <input type="text" class="input_box1" placeholder="김비트">
            </form>
        </div>

        <div class="profile_box3">
            <p>아이디</p>
        </div>
        <div class="profile_input1">
            <form action="#" method="post">
            <input type="text" class="input_box1" placeholder="BitCamp">
            </form>
        </div>
        <div class="profile_box3">
            <p>비밀번호</p>
        </div>
        <div class="profile_input2">
            <form action="#" method="post">
                <input type="password" class="input_box2" placeholder="**********">
                <input type="submit" class="profile_input_box1" value="변경"></input>
            </form>

        </div>

        <div class="profile_box3">
            <p>닉네임</p>
        </div>
        <div class="profile_input2">
            <form action="#" method="post">
                <input type="text" class="input_box2" placeholder="Bit_Kim">
                <input type="submit" class="profile_input_box1" value="변경"></input>
            </form>

        </div>

        <div class="profile_box3">
            <p>이메일 주소</p>
        </div>
        <div class="profile_input2">
            <form action="#" method="post">
                <input type="email" class="input_box2" placeholder="Bit@naver.com">
                <input type="submit" class="profile_input_box1" value="변경"></input>
            </form>

        </div>

        <div class="profile_box3">
            <p>휴대폰 번호</p>
        </div>
        <div class="profile_input2">
            <form action="#" method="post">
                <input type="tel" class="input_box2" placeholder="010-1234-5678">
                <input type="submit" class="profile_input_box1" value="변경"></input>
            </form>

        </div>

        <div class="profile_box3">
            <p>기본 배송지</p>
        </div>
        <div class="profile_input3">
            <form action="#" method="post">
                <input type="text" class="input_box2"
                       placeholder="서울특별시 강남구 태해란로 **길 20">
                <input type="submit" class="profile_input_box1" value="변경"></input>
            </form>

        </div>

    </div>
</body>
</html>